{
"swagger": "2.0",
"info": {
"description": "ASIA HAWALA APIs",
"version": "0.1",
"title": "ASIA HAWALA APIs",
"termsOfService": "termsOfService"
},
"host": "api-oci.areeba.com",
"basePath": "/",
"paths": {
"/issuing/access-token": {
"post": {
"tags": [
"AccessToken"
],
"summary": "Get Token",
"operationId": "returnAccessTokenUsingPOST",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "request",
"description": "request",
"required": true,
"schema": {
"$ref": "#/definitions/AccessTokenRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOstring"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/onboarding/account-holder": {
"post": {
"tags": [
"Client"
],
"summary": "Create a new Client",
"operationId": "saveNewUsingPOST",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/AccountHolderRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOAccountHolderResponseDTO"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/onboarding/account-holder/{id}": {
"get": {
"tags": [
"Client"
],
"summary": "Get Client by id",
"operationId": "findByIdUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": true,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOAccountHolderResponseDTO"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
},
"put": {
"tags": [
"Client"
],
"summary": "Update an existing Client",
"operationId": "updateUsingPUT",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be updated",
"required": true,
"type": "string",
"format": "uuid"
},
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/AccountHolderRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOAccountHolderResponseDTO"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
},
"delete": {
"tags": [
"Client"
],
"summary": "Delete an existing Client",
"operationId": "deleteUsingDELETE",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be deleted",
"required": true,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOAccountHolderRequestDTO"
}
},
"204": {
"description": "No Content"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
}
},
"deprecated": false
}
},
"/issuing/account": {
"post": {
"tags": [
"Account"
],
"summary": "Create a new Account",
"operationId": "saveNewUsingPOST_1",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/AccountRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOAccountResponseDTO"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/issuing/account/{id}": {
"get": {
"tags": [
"Account"
],
"summary": "Find Account by id",
"operationId": "findByIdUsingGET_2",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the Account that will be retrieved",
"required": true,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOAccountResponseDTO"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
},
"put": {
"tags": [
"Account"
],
"summary": "Update an existing Account",
"operationId": "updateUsingPUT_1",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of Account that should be updated",
"required": true,
"type": "string",
"format": "uuid"
},
{
"in": "body",
"name": "req",
"description": "Account data",
"required": false,
"schema": {
"$ref": "#/definitions/AccountRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOAccountResponseDTO"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
},
"delete": {
"tags": [
"Account"
],
"summary": "Delete an existing Account",
"operationId": "deleteUsingDELETE_1",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of Account that should be deleted",
"required": true,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOAccountRequestDTO"
}
},
"204": {
"description": "No Content"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
}
},
"deprecated": false
}
},
"/issuing/payment-tool": {
"post": {
"tags": [
"Card"
],
"summary": "Create a new Card",
"operationId": "saveNewUsingPOST_18",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "Card data",
"required": false,
"schema": {
"$ref": "#/definitions/PaymentToolRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOPaymentToolResponseDTO"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/issuing/payment-tool/{id}": {
"get": {
"tags": [
"Card"
],
"summary": "Find Card by id",
"operationId": "findByIdUsingGET_25",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the Card that will be retrieved",
"required": true,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOPaymentToolResponseDTO"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
},
"put": {
"tags": [
"Card"
],
"summary": "Update an existing Card",
"operationId": "updateUsingPUT_18",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of Card that should be updated",
"required": true,
"type": "string",
"format": "uuid"
},
{
"in": "body",
"name": "req",
"description": "Card data",
"required": false,
"schema": {
"$ref": "#/definitions/PaymentToolRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOPaymentToolResponseDTO"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
},
"delete": {
"tags": [
"Card"
],
"summary": "Delete an existing Card",
"operationId": "deleteUsingDELETE_17",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of Card that should be deleted",
"required": true,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOPaymentToolRequestDTO"
}
},
"204": {
"description": "No Content"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
}
},
"deprecated": false
}
},
"/issuing/zaky/cvv": {
"get": {
"tags": [
"Get CVV"
],
"summary": "getCvv",
"operationId": "getCvvUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "expirationDate",
"in": "query",
"description": "expirationDate",
"required": true,
"type": "string"
},
{
"name": "pan",
"in": "query",
"description": "pan",
"required": true,
"type": "string"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOstring"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/issuing/payment-tool/activate": {
"put": {
"tags": [
"Card"
],
"summary": "activateCards",
"operationId": "activateCardsUsingPUT",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "cardsIdsList",
"description": "cardsIdsList",
"required": true,
"schema": {
"type": "array",
"items": {
"type": "string"
}
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOListstring"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/issuing/payment-tool/close": {
"put": {
"tags": [
"Card"
],
"summary": "closeCards",
"operationId": "closeCardsUsingPUT",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "list",
"description": "list",
"required": true,
"schema": {
"type": "array",
"items": {
"$ref": "#/definitions/PaymentToolClosingRequestDTO"
}
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOListstring"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/issuing/payment-tool/replacement-process": {
"put": {
"tags": [
"Card"
],
"summary": "replace card",
"operationId": "cardReplacementUsingPUT",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "Card Request",
"description": "listOfCardToReplace",
"required": false,
"schema": {
"type": "array",
"items": {
"type": "string"
}
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOstring"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/issuing/account/available/pan/{pan}": {
"get": {
"tags": [
"Account"
],
"summary": "getAvailable",
"operationId": "getAvailableUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "pan",
"in": "path",
"description": "pan",
"required": true,
"type": "string"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOdouble"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/issuing/account/balance/pan/{pan}": {
"get": {
"tags": [
"Account"
],
"summary": "getBalance",
"operationId": "getBalanceUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "pan",
"in": "path",
"description": "pan",
"required": true,
"type": "string"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOdouble"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/processing/reloading": {
"post": {
"tags": [
"Card Topup"
],
"summary": "Create a new instance",
"operationId": "saveNewUsingPOST_3",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/ReloadingRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOReloadingResponseDTO"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
},
"/processing/tranlog/find-by-criteria": {
"post": {
"tags": [
"Authorization Log"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_5",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTOPageTranlogResponseDTO"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"deprecated": false
}
}
},
"securityDefinitions": {
"JWT": {
"type": "apiKey",
"name": "Authorization",
"in": "header"
}
},
"definitions": {
"RestCommonResponseDTOAccountHolderRequestDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/AccountHolderResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOAccountHolderRequestDTO"
},
"AccountHolderResponseDTO": {
"type": "object",
"properties": {
"address": {
"type": "string"
},
"cif": {
"type": "string"
},
"code": {
"type": "string"
},
"countryProfileId": {
"type": "string",
"format": "uuid"
},
"countryProfileName": {
"type": "string"
},
"dob": {
"type": "string",
"format": "date"
},
"email": {
"type": "string"
},
"fatherName": {
"type": "string"
},
"fiBankCode": {
"type": "string"
},
"fiBranchCode": {
"type": "string"
},
"fiBranchId": {
"type": "string",
"format": "uuid"
},
"fiBranchName": {
"type": "string"
},
"fiCode": {
"type": "string"
},
"fiId": {
"type": "string",
"format": "uuid"
},
"fiName": {
"type": "string"
},
"firstName": {
"type": "string"
},
"gender": {
"type": "string",
"enum": [
"MALE",
"FEMALE"
]
},
"id": {
"type": "string",
"format": "uuid"
},
"lastName": {
"type": "string"
},
"mobileNumber": {
"type": "string"
},
"nationality": {
"type": "string"
},
"password": {
"type": "string"
},
"phoneNumber": {
"type": "string"
},
"profession": {
"type": "string"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "AccountHolderResponseDTO"
},
"RestCommonResponseDTOAccountHolderResponseDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/AccountHolderResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOAccountHolderResponseDTO"
},
"AccountHolderRequestDTO": {
"type": "object",
"properties": {
"address": {
"type": "string"
},
"cif": {
"type": "string"
},
"code": {
"type": "string"
},
"countryProfileId": {
"type": "string",
"format": "uuid"
},
"dob": {
"type": "string",
"format": "date"
},
"email": {
"type": "string"
},
"fatherName": {
"type": "string"
},
"fiBranchId": {
"type": "string",
"format": "uuid"
},
"firstName": {
"type": "string"
},
"gender": {
"type": "string",
"enum": [
"MALE",
"FEMALE"
]
},
"lastName": {
"type": "string"
},
"mobileNumber": {
"type": "string"
},
"nationality": {
"type": "string"
},
"organizationCode": {
"type": "string"
},
"password": {
"type": "string"
},
"phoneNumber": {
"type": "string"
},
"profession": {
"type": "string"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "AccountHolderRequestDTO"
},
"AccessTokenRequestDTO": {
"type": "object",
"properties": {
"password": {
"type": "string",
"description": "bla bla"
},
"username": {
"type": "string"
}
},
"title": "AccessTokenRequestDTO"
},
"Character": {
"type": "object",
"title": "Character"
},
"CreateAndReturnTokenRequestDTO": {
"type": "object",
"properties": {
"appName": {
"type": "string"
},
"email": {
"type": "string"
},
"password": {
"type": "string"
},
"username": {
"type": "string"
}
},
"title": "CreateAndReturnTokenRequestDTO"
},
"CycleConfigurationResponseDTO": {
"type": "object",
"properties": {
"cycle": {
"type": "string",
"enum": [
"MONTHLYCYCLEDATE",
"DUECYCLEDATE",
"DIRECTDEBIT"
]
},
"date": {
"type": "integer",
"format": "int32"
},
"fiId": {
"type": "string",
"format": "uuid"
},
"id": {
"type": "string",
"format": "uuid"
},
"level": {
"type": "string",
"enum": [
"FINANCIALINSTITUTION",
"PRODUCT"
]
},
"slidingFromID": {
"$ref": "#/definitions/CycleConfigurationResponseDTO"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
},
"type": {
"type": "string",
"enum": [
"CALENDAR",
"SLIDING",
"INTERVAL"
]
},
"value": {
"type": "string",
"format": "uuid"
}
},
"title": "CycleConfigurationResponseDTO"
},
"CycleConfigurationService": {
"type": "object",
"title": "CycleConfigurationService"
},
"CycleConfigurationTraceResponseDTO": {
"type": "object",
"properties": {
"cycleConfigurationId": {
"type": "string",
"format": "uuid"
},
"endDate": {
"type": "string",
"format": "date"
},
"id": {
"type": "string",
"format": "uuid"
},
"message": {
"type": "string"
},
"month": {
"type": "string",
"format": "date"
},
"runDate": {
"type": "string",
"format": "date"
},
"startDate": {
"type": "string",
"format": "date"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "CycleConfigurationTraceResponseDTO"
},
"CyclesConfigurationRequestDTO": {
"type": "object",
"properties": {
"cycle": {
"type": "string",
"enum": [
"MONTHLYCYCLEDATE",
"DUECYCLEDATE",
"DIRECTDEBIT"
]
},
"date": {
"type": "string"
},
"fiId": {
"type": "string",
"format": "uuid"
},
"level": {
"type": "string",
"enum": [
"FINANCIALINSTITUTION",
"PRODUCT"
]
},
"slidingFromID": {
"type": "string",
"format": "uuid"
},
"type": {
"type": "string",
"enum": [
"CALENDAR",
"SLIDING",
"INTERVAL"
]
},
"value": {
"type": "string",
"format": "uuid"
}
},
"title": "CyclesConfigurationRequestDTO"
},
"CyclesConfigurationTraceRequestDTO": {
"type": "object",
"properties": {
"cycleConfiguration": {
"type": "string",
"format": "uuid"
},
"endDate": {
"type": "string",
"format": "date"
},
"fiId": {
"type": "string",
"format": "uuid"
},
"message": {
"type": "string"
},
"month": {
"type": "string",
"format": "date"
},
"runDate": {
"type": "string",
"format": "date"
},
"startDate": {
"type": "string",
"format": "date"
}
},
"title": "CyclesConfigurationTraceRequestDTO"
},
"JobFeesRequestDTO": {
"type": "object",
"properties": {
"fiId": {
"type": "string",
"format": "uuid"
},
"items": {
"type": "object"
},
"jobCode": {
"type": "string"
}
},
"title": "JobFeesRequestDTO"
},
"LocalTime": {
"type": "object",
"properties": {
"hour": {
"type": "integer",
"format": "int32"
},
"minute": {
"type": "integer",
"format": "int32"
},
"nano": {
"type": "integer",
"format": "int32"
},
"second": {
"type": "integer",
"format": "int32"
}
},
"title": "LocalTime"
},
"MerchantFeesRequestDTO": {
"type": "object",
"properties": {
"businessId": {
"type": "string"
},
"outletId": {
"type": "string"
},
"posType": {
"type": "string"
},
"terminalId": {
"type": "string"
},
"terminalOpeningDate": {
"type": "string"
}
},
"title": "MerchantFeesRequestDTO"
},
"MonthlyCycleLogRequestDTO": {
"type": "object",
"properties": {
"accountId": {
"type": "string",
"format": "uuid"
},
"closingBalance": {
"type": "number"
},
"interest": {
"type": "number"
},
"message": {
"type": "string"
},
"monthlyCycleId": {
"type": "string",
"format": "uuid"
},
"mtp": {
"type": "number"
},
"openingBalance": {
"type": "number"
},
"outstandingBalance": {
"type": "number"
}
},
"title": "MonthlyCycleLogRequestDTO"
},
"MonthlyCycleLogResponseDTO": {
"type": "object",
"properties": {
"accountId": {
"type": "string",
"format": "uuid"
},
"closingBalance": {
"type": "number"
},
"id": {
"type": "string",
"format": "uuid"
},
"interest": {
"type": "number"
},
"message": {
"type": "string"
},
"monthlyCycleId": {
"type": "string",
"format": "uuid"
},
"mtp": {
"type": "number"
},
"openingBalance": {
"type": "number"
},
"outstandingBalance": {
"type": "number"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "MonthlyCycleLogResponseDTO"
},
"MonthlyCycleLogService": {
"type": "object",
"title": "MonthlyCycleLogService"
},
"PageSizeSortCriteria": {
"type": "object",
"properties": {
"criteriaList": {
"type": "array",
"items": {
"$ref": "#/definitions/SearchCriteria"
}
},
"page": {
"type": "integer",
"format": "int32"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"type": "object",
"additionalProperties": {
"type": "string"
}
}
},
"title": "PageSizeSortCriteria"
},
"Pageable": {
"type": "object",
"properties": {
"offset": {
"type": "integer",
"format": "int64"
},
"pageNumber": {
"type": "integer",
"format": "int32"
},
"pageSize": {
"type": "integer",
"format": "int32"
},
"paged": {
"type": "boolean"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"unpaged": {
"type": "boolean"
}
},
"title": "Pageable"
},
"PageCycleConfigurationResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/CycleConfigurationResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageCycleConfigurationResponseDTO"
},
"PageCycleConfigurationTraceResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/CycleConfigurationTraceResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageCycleConfigurationTraceResponseDTO"
},
"PageMonthlyCycleLogResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/MonthlyCycleLogResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageMonthlyCycleLogResponseDTO"
},
"PageReloadingResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/ReloadingResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageReloadingResponseDTO"
},
"PageTranfinResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/TranfinResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageTranfinResponseDTO"
},
"PageTranlogResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/TranlogResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageTranlogResponseDTO"
},
"PcimodeRequestDTO": {
"type": "object",
"properties": {
"character": {
"type": "string"
},
"maskPatern": {
"type": "string"
},
"pciToggle": {
"type": "boolean"
}
},
"title": "PcimodeRequestDTO"
},
"ReloadingRequestDTO": {
"type": "object",
"properties": {
"amount": {
"type": "string"
},
"currency": {
"type": "string"
},
"transactionDate": {
"type": "string"
},
"transactionTypeCode": {
"type": "string"
},
"walletId": {
"type": "string"
}
},
"title": "ReloadingRequestDTO"
},
"ReloadingResponseDTO": {
"type": "object",
"properties": {
"amount": {
"type": "string"
},
"currency": {
"type": "string"
},
"transactionAction": {
"type": "string"
},
"transactionTypeCode": {
"type": "string"
},
"walletId": {
"type": "string"
}
},
"title": "ReloadingResponseDTO"
},
"ReloadingService": {
"type": "object",
"title": "ReloadingService"
},
"RestCommonResponseDTOCycleConfigurationResponseDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/CycleConfigurationResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOCycleConfigurationResponseDTO"
},
"RestCommonResponseDTOCycleConfigurationTraceResponseDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/CycleConfigurationTraceResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOCycleConfigurationTraceResponseDTO"
},
"RestCommonResponseDTOCyclesConfigurationRequestDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/CycleConfigurationResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOCyclesConfigurationRequestDTO"
},
"RestCommonResponseDTOListCycleConfigurationResponseDTO": {
"type": "object",
"properties": {
"data": {
"type": "array",
"items": {
"$ref": "#/definitions/CycleConfigurationResponseDTO"
}
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOListCycleConfigurationResponseDTO"
},
"RestCommonResponseDTOListCycleConfigurationTraceResponseDTO": {
"type": "object",
"properties": {
"data": {
"type": "array",
"items": {
"$ref": "#/definitions/CycleConfigurationTraceResponseDTO"
}
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOListCycleConfigurationTraceResponseDTO"
},
"RestCommonResponseDTOListMonthlyCycleLogResponseDTO": {
"type": "object",
"properties": {
"data": {
"type": "array",
"items": {
"$ref": "#/definitions/MonthlyCycleLogResponseDTO"
}
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOListMonthlyCycleLogResponseDTO"
},
"RestCommonResponseDTOListReloadingResponseDTO": {
"type": "object",
"properties": {
"data": {
"type": "array",
"items": {
"$ref": "#/definitions/ReloadingResponseDTO"
}
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOListReloadingResponseDTO"
},
"RestCommonResponseDTOListTranfinResponseDTO": {
"type": "object",
"properties": {
"data": {
"type": "array",
"items": {
"$ref": "#/definitions/TranfinResponseDTO"
}
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOListTranfinResponseDTO"
},
"RestCommonResponseDTOListTranlogResponseDTO": {
"type": "object",
"properties": {
"data": {
"type": "array",
"items": {
"$ref": "#/definitions/TranlogResponseDTO"
}
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOListTranlogResponseDTO"
},
"RestCommonResponseDTOMonthlyCycleLogRequestDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/MonthlyCycleLogResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOMonthlyCycleLogRequestDTO"
},
"RestCommonResponseDTOMonthlyCycleLogResponseDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/MonthlyCycleLogResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOMonthlyCycleLogResponseDTO"
},
"RestCommonResponseDTOPageCycleConfigurationResponseDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/PageCycleConfigurationResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOPageCycleConfigurationResponseDTO"
},
"RestCommonResponseDTOPageCycleConfigurationTraceResponseDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/PageCycleConfigurationTraceResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOPageCycleConfigurationTraceResponseDTO"
},
"RestCommonResponseDTOPageMonthlyCycleLogResponseDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/PageMonthlyCycleLogResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOPageMonthlyCycleLogResponseDTO"
},
"RestCommonResponseDTOPageReloadingResponseDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/PageReloadingResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOPageReloadingResponseDTO"
},
"RestCommonResponseDTOPageTranfinResponseDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/PageTranfinResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOPageTranfinResponseDTO"
},
"RestCommonResponseDTOPageTranlogResponseDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/PageTranlogResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOPageTranlogResponseDTO"
},
"RestCommonResponseDTOReloadingRequestDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/ReloadingResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOReloadingRequestDTO"
},
"RestCommonResponseDTOReloadingResponseDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/ReloadingResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOReloadingResponseDTO"
},
"RestCommonResponseDTOTranfinRequestDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/TranfinResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOTranfinRequestDTO"
},
"RestCommonResponseDTOTranfinResponseDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/TranfinResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOTranfinResponseDTO"
},
"RestCommonResponseDTOTranlogRequestDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/TranlogResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOTranlogRequestDTO"
},
"RestCommonResponseDTOTranlogResponseDTO": {
"type": "object",
"properties": {
"data": {
"$ref": "#/definitions/TranlogResponseDTO"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOTranlogResponseDTO"
},
"RestCommonResponseDTOstring": {
"type": "object",
"properties": {
"data": {
"type": "string"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTOstring"
},
"SearchCriteria": {
"type": "object",
"properties": {
"key": {
"type": "string"
},
"operation": {
"type": "string",
"enum": [
"GREATER_THAN",
"LESS_THAN",
"GREATER_THAN_OR_EQUAL_TO",
"LESS_THAN_OR_EQUAL_TO",
"NOT_EQUAL",
"EQUAL",
"LIKE",
"STARTS_WITH",
"ENDS_WITH"
]
},
"value": {
"type": "object"
}
},
"title": "SearchCriteria"
},
"Sort": {
"type": "object",
"properties": {
"empty": {
"type": "boolean"
},
"sorted": {
"type": "boolean"
},
"unsorted": {
"type": "boolean"
}
},
"title": "Sort"
},
"TranfinRequestDTO": {
"type": "object",
"properties": {
"acquirerReferenceNumber": {
"type": "string"
},
"authorizationNumber": {
"type": "string"
},
"batchNumber": {
"type": "integer",
"format": "int32"
},
"billingAmount": {
"type": "number"
},
"billingCurrency": {
"type": "string"
},
"cardExpiry": {
"type": "string"
},
"cardSequenceNumber": {
"type": "string"
},
"encryptedTargetNumber": {
"type": "string"
},
"encryptionKeyPan": {
"type": "string"
},
"id": {
"type": "string",
"format": "uuid"
},
"issuerMemberID": {
"type": "string"
},
"mcc": {
"$ref": "#/definitions/Character"
},
"merchantId": {
"type": "string"
},
"originalId": {
"type": "string",
"format": "uuid"
},
"outwardStatus": {
"type": "string"
},
"paymentToolNumber": {
"type": "string"
},
"posEnvironment": {
"type": "string"
},
"postingDate": {
"type": "string",
"format": "date"
},
"postingStatus": {
"type": "string"
},
"readingMethod": {
"type": "string"
},
"remainingAmount": {
"type": "number"
},
"responseCode": {
"type": "string",
"format": "uuid"
},
"retrievalReferenceNumber": {
"type": "string"
},
"reversal": {
"type": "boolean"
},
"securityCharacteristic": {
"type": "string"
},
"settlementAmount": {
"type": "number"
},
"settlementCurrency": {
"type": "string"
},
"settlementDate": {
"type": "string",
"format": "date-time"
},
"sourceAccountNumber": {
"type": "string"
},
"sourceChannel": {
"type": "string"
},
"sourceMemberId": {
"type": "string"
},
"sourceNumber": {
"type": "string"
},
"targetAccountNumber": {
"type": "string"
},
"targetChannel": {
"type": "string"
},
"targetNumber": {
"type": "string"
},
"tranlogId": {
"type": "string",
"format": "uuid"
},
"transactionAmount": {
"type": "number"
},
"transactionCategory": {
"type": "string",
"enum": [
"A",
"J",
"R"
]
},
"transactionCountry": {
"type": "string"
},
"transactionCurrency": {
"type": "string"
},
"transactionDate": {
"type": "string",
"format": "date-time"
},
"transactionDetails": {
"type": "string"
},
"transactionTime": {
"$ref": "#/definitions/LocalTime"
},
"transactionTypeId": {
"type": "string",
"format": "uuid"
},
"verificationMethod": {
"type": "string"
}
},
"title": "TranfinRequestDTO"
},
"TranfinResponseDTO": {
"type": "object",
"properties": {
"acquirerReferenceNumber": {
"type": "string"
},
"authorizationNumber": {
"type": "string"
},
"batchNumber": {
"type": "string"
},
"billingAmount": {
"type": "number"
},
"billingCurrency": {
"type": "number"
},
"cardExpiry": {
"type": "string",
"format": "date-time"
},
"cardSequenceNumber": {
"type": "string"
},
"encryptedTargetNumber": {
"type": "string"
},
"encryptionKeyPan": {
"type": "string"
},
"id": {
"type": "string",
"format": "uuid"
},
"issuerMemberID": {
"type": "string"
},
"mcc": {
"$ref": "#/definitions/Character"
},
"merchantId": {
"type": "string"
},
"originalId": {
"type": "string",
"format": "uuid"
},
"outwardStatus": {
"type": "string"
},
"paymentToolNumber": {
"type": "string"
},
"posEnvironment": {
"type": "string"
},
"postingDate": {
"type": "string",
"format": "date"
},
"postingStatus": {
"type": "string"
},
"readingMethod": {
"type": "string"
},
"reasonsId": {
"type": "string",
"format": "uuid"
},
"remainingAmount": {
"type": "number"
},
"responseCode": {
"type": "string",
"format": "uuid"
},
"retrievalReferenceNumber": {
"type": "string"
},
"securityCharacteristic": {
"type": "string"
},
"settlementAmount": {
"type": "number"
},
"settlementCurrency": {
"type": "string"
},
"settlementDate": {
"type": "string",
"format": "date-time"
},
"sourceAccountNumber": {
"type": "string"
},
"sourceChannel": {
"type": "string"
},
"sourceMemberId": {
"type": "string"
},
"sourceNumber": {
"type": "string"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
},
"targetAccountNumber": {
"type": "string"
},
"targetChannel": {
"type": "string"
},
"targetNumber": {
"type": "string"
},
"tranlogId": {
"type": "string",
"format": "uuid"
},
"transactionAmount": {
"type": "number"
},
"transactionCategory": {
"type": "string",
"enum": [
"A",
"J",
"R"
]
},
"transactionCountry": {
"type": "string"
},
"transactionCurrency": {
"type": "string"
},
"transactionDate": {
"type": "string",
"format": "date-time"
},
"transactionDetails": {
"type": "string"
},
"transactionTime": {
"$ref": "#/definitions/LocalTime"
},
"transactionTypeDescription": {
"type": "string"
},
"transactionTypeId": {
"type": "string",
"format": "uuid"
},
"transactionTypeIssuerSign": {
"type": "string"
},
"verificationMethod": {
"type": "string"
}
},
"title": "TranfinResponseDTO"
},
"TranfinService": {
"type": "object",
"title": "TranfinService"
},
"TranlogRequestDTO": {
"type": "object",
"properties": {
"acquiringCountryCode": {
"type": "string"
},
"acquiringInstitutionCode": {
"type": "string"
},
"additionalAmountsReceived": {
"type": "string"
},
"additionalData": {
"type": "string"
},
"atc": {
"type": "integer",
"format": "int64"
},
"authorizationCode": {
"type": "string"
},
"billingAmount": {
"type": "string"
},
"billingCurrency": {
"type": "string"
},
"billingCurrencyExp": {
"type": "integer",
"format": "int32"
},
"cardAccId": {
"type": "string"
},
"cardAccTerminalId": {
"type": "string"
},
"cardAcceptorCountry": {
"type": "string"
},
"cardAcceptorLocation": {
"type": "string"
},
"cardAcceptorName": {
"type": "string"
},
"cardExpiry": {
"type": "string"
},
"cardSeqNumber": {
"type": "string"
},
"completed": {
"type": "boolean"
},
"encryptedPan": {
"type": "string"
},
"encryptionKeyPan": {
"type": "string",
"format": "uuid"
},
"forwardingInstitutionCode": {
"type": "string"
},
"fromAcc": {
"type": "string"
},
"functionCode": {
"type": "string"
},
"iccTags": {
"type": "string"
},
"invalidField": {
"type": "string"
},
"issuerFee": {
"type": "string"
},
"matchedFlag": {
"type": "integer",
"format": "int32"
},
"mti": {
"type": "string"
},
"originalMti": {
"type": "string"
},
"originalStan": {
"type": "string"
},
"originalTransDate": {
"type": "string",
"format": "date"
},
"originalTransTime": {
"type": "string",
"format": "date-time"
},
"posEnvironment": {
"type": "string"
},
"processingCode": {
"type": "string"
},
"readingMethod": {
"type": "string"
},
"reasonCode": {
"type": "string"
},
"req": {
"type": "string",
"format": "byte"
},
"res": {
"type": "string",
"format": "byte"
},
"responseCode": {
"type": "string"
},
"responseCodeReceived": {
"type": "string"
},
"retreivalRefernceCode": {
"type": "string"
},
"reversed": {
"type": "boolean"
},
"securityCharacteristic": {
"type": "string"
},
"settlementAmount": {
"type": "string"
},
"settlementCurrency": {
"type": "string"
},
"settlementCurrencyExp": {
"type": "integer",
"format": "int32"
},
"settlementDate": {
"type": "string",
"format": "date"
},
"sourceChannel": {
"type": "string"
},
"stan": {
"type": "string"
},
"sysdateReceived": {
"type": "string",
"format": "date-time"
},
"sysdateReplied": {
"type": "string",
"format": "date-time"
},
"targetChannel": {
"type": "string"
},
"targetNumber": {
"type": "string"
},
"toAcc": {
"type": "string"
},
"transDate": {
"type": "string",
"format": "date"
},
"transDetails": {
"type": "string"
},
"transMcc": {
"type": "string"
},
"transTime": {
"type": "string",
"format": "date-time"
},
"transactionAmount": {
"type": "string"
},
"transactionCurrency": {
"type": "string"
},
"transactionCurrencyExp": {
"type": "integer",
"format": "int32"
},
"transactionLocalDate": {
"type": "string",
"format": "date-time"
},
"transactionLocalTime": {
"type": "string",
"format": "date-time"
},
"verificationMethod": {
"type": "string"
}
},
"title": "TranlogRequestDTO"
},
"TranlogResponseDTO": {
"type": "object",
"properties": {
"acquiringCountryCode": {
"type": "string"
},
"acquiringInstitutionCode": {
"type": "string"
},
"additionalAmountsReceived": {
"type": "string"
},
"additionalData": {
"type": "string"
},
"atc": {
"type": "integer",
"format": "int64"
},
"authorizationCode": {
"type": "string"
},
"billingAmount": {
"type": "string"
},
"billingCurrency": {
"type": "string"
},
"billingCurrencyExp": {
"type": "integer",
"format": "int32"
},
"cardAccId": {
"type": "string"
},
"cardAccTerminalId": {
"type": "string"
},
"cardAcceptorCountry": {
"type": "string"
},
"cardAcceptorLocation": {
"type": "string"
},
"cardAcceptorName": {
"type": "string"
},
"cardExpiry": {
"type": "string"
},
"cardSeqNumber": {
"type": "string"
},
"completed": {
"type": "boolean"
},
"encryptedPan": {
"type": "string"
},
"encryptionKeyPan": {
"type": "string",
"format": "uuid"
},
"forwardingInstitutionCode": {
"type": "string"
},
"fromAcc": {
"type": "string"
},
"functionCode": {
"type": "string"
},
"iccTags": {
"type": "string"
},
"id": {
"type": "string",
"format": "uuid"
},
"invalidField": {
"type": "string"
},
"issuerFee": {
"type": "string"
},
"matchedFlag": {
"type": "integer",
"format": "int32"
},
"mti": {
"type": "string"
},
"originalMti": {
"type": "string"
},
"originalStan": {
"type": "string"
},
"originalTransDate": {
"type": "string",
"format": "date"
},
"originalTransTime": {
"type": "string",
"format": "date-time"
},
"posEnvironment": {
"type": "string"
},
"processingCode": {
"type": "string"
},
"readingMethod": {
"type": "string"
},
"reasonCode": {
"type": "string"
},
"req": {
"type": "string",
"format": "byte"
},
"res": {
"type": "string",
"format": "byte"
},
"responseCode": {
"type": "string"
},
"responseCodeReceived": {
"type": "string"
},
"retreivalRefernceCode": {
"type": "string"
},
"reversed": {
"type": "boolean"
},
"securityCharacteristic": {
"type": "string"
},
"settlementAmount": {
"type": "string"
},
"settlementCurrency": {
"type": "string"
},
"settlementCurrencyExp": {
"type": "integer",
"format": "int32"
},
"settlementDate": {
"type": "string",
"format": "date"
},
"sourceChannel": {
"type": "string"
},
"stan": {
"type": "string"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
},
"sysdateReceived": {
"type": "string",
"format": "date-time"
},
"sysdateReplied": {
"type": "string",
"format": "date-time"
},
"targetChannel": {
"type": "string"
},
"targetNumber": {
"type": "string"
},
"toAcc": {
"type": "string"
},
"transDate": {
"type": "string",
"format": "date"
},
"transDetails": {
"type": "string"
},
"transMcc": {
"type": "string"
},
"transTime": {
"type": "string",
"format": "date-time"
},
"transactionAmount": {
"type": "string"
},
"transactionCurrency": {
"type": "string"
},
"transactionCurrencyExp": {
"type": "integer",
"format": "int32"
},
"transactionLocalDate": {
"type": "string",
"format": "date-time"
},
"transactionLocalTime": {
"type": "string",
"format": "date-time"
},
"verificationMethod": {
"type": "string"
}
},
"title": "TranlogResponseDTO"
},
"TranlogService": {
"type": "object",
"title": "TranlogService"
},
"AccountAndBucketDiscrepanciesResponseDTO": {
"type": "object",
"properties": {
"accountBalance": {
"type": "number",
"format": "double"
},
"accountId": {
"type": "string",
"format": "uuid"
},
"bucketBalance": {
"type": "number",
"format": "double"
}
},
"title": "AccountAndBucketDiscrepanciesResponseDTO"
},
"AccountCardResponseDTO": {
"type": "object",
"properties": {
"account": {
"$ref": "#/definitions/AccountResponseDTO"
},
"id": {
"type": "string",
"format": "uuid"
},
"paymentTool": {
"$ref": "#/definitions/PaymentToolResponseDTO"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "AccountCardResponseDTO"
},
"AccountRequestDTO": {
"type": "object",
"properties": {
"accountHolderId": {
"type": "string",
"format": "uuid"
},
"accountStatus": {
"type": "string",
"format": "uuid"
},
"available": {
"type": "number",
"format": "double"
},
"balance": {
"type": "number",
"format": "double"
},
"bankAccountNumber": {
"type": "string"
},
"blocked": {
"type": "number",
"format": "double"
},
"creditLimit": {
"type": "number",
"format": "double"
},
"currency": {
"type": "string"
},
"fiAccountSubTypeId": {
"type": "string",
"format": "uuid"
},
"interval": {
"type": "string"
},
"parentAccountId": {
"type": "string",
"format": "uuid"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "AccountRequestDTO"
},
"AccountResponseDTO": {
"type": "object",
"properties": {
"accountHolderId": {
"type": "string",
"format": "uuid"
},
"accountNumber": {
"type": "string"
},
"accountStatusId": {
"type": "string",
"format": "uuid"
},
"available": {
"type": "number",
"format": "double"
},
"balance": {
"type": "number",
"format": "double"
},
"blocked": {
"type": "number",
"format": "double"
},
"creditLimit": {
"type": "number",
"format": "double"
},
"currency": {
"type": "string"
},
"fiAccountSubType": {
"$ref": "#/definitions/FiAccountSubTypeResponseDTO"
},
"fiAccountSubTypeAccountSubTypeName": {
"type": "string"
},
"id": {
"type": "string",
"format": "uuid"
},
"interval": {
"type": "string"
},
"parentAccountId": {
"type": "string",
"format": "uuid"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "AccountResponseDTO"
},
"AccountService": {
"type": "object",
"title": "AccountService"
},
"AccountStatusRequestDTO": {
"type": "object",
"properties": {
"allowFin": {
"type": "boolean"
},
"code": {
"type": "string"
},
"name": {
"type": "string"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "AccountStatusRequestDTO"
},
"AccountStatusResponseDTO": {
"type": "object",
"properties": {
"allowFin": {
"type": "boolean"
},
"code": {
"type": "string"
},
"id": {
"type": "string"
},
"name": {
"type": "string"
}
},
"title": "AccountStatusResponseDTO"
},
"AccountStatusService": {
"type": "object",
"title": "AccountStatusService"
},
"AccountStructureRequestDTO": {
"type": "object",
"properties": {
"end": {
"type": "integer",
"format": "int32"
},
"fiAccountSubType": {
"type": "string",
"format": "uuid"
},
"fieldName": {
"type": "string"
},
"isEntity": {
"type": "boolean"
},
"operation": {
"type": "string",
"enum": [
"ACCOUNT_NUMBER_CREATION"
]
},
"priority": {
"type": "integer",
"format": "int32"
},
"start": {
"type": "integer",
"format": "int32"
},
"tableName": {
"type": "string"
}
},
"title": "AccountStructureRequestDTO"
},
"AccountStructureResponseDTO": {
"type": "object",
"properties": {
"end": {
"type": "integer",
"format": "int32"
},
"fieldName": {
"type": "string"
},
"id": {
"type": "string",
"format": "uuid"
},
"isEntity": {
"type": "boolean"
},
"priority": {
"type": "integer",
"format": "int32"
},
"start": {
"type": "integer",
"format": "int32"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
},
"tableName": {
"type": "string"
},
"tableRestrictionsOperation": {
"type": "string"
}
},
"title": "AccountStructureResponseDTO"
},
"AccountStructureService": {
"type": "object",
"title": "AccountStructureService"
},
"AccountSubTypeRequestDTO": {
"type": "object",
"properties": {
"accountTypeId": {
"type": "string",
"format": "uuid"
},
"code": {
"type": "string"
},
"name": {
"type": "string",
"enum": [
"REVOLVINGCREDIT",
"INSTALLEMENTCREDIT",
"DEBIT",
"PREPAID",
"WALLET"
]
}
},
"title": "AccountSubTypeRequestDTO"
},
"AccountSubTypeResponseDTO": {
"type": "object",
"properties": {
"accountTypeId": {
"type": "string",
"format": "uuid"
},
"code": {
"type": "string"
},
"id": {
"type": "string",
"format": "uuid"
},
"name": {
"type": "string",
"enum": [
"REVOLVINGCREDIT",
"INSTALLEMENTCREDIT",
"DEBIT",
"PREPAID",
"WALLET"
]
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "AccountSubTypeResponseDTO"
},
"AccountSubTypeService": {
"type": "object",
"title": "AccountSubTypeService"
},
"AccountTypeRequestDTO": {
"type": "object",
"properties": {
"isWallet": {
"type": "boolean"
},
"type": {
"type": "string",
"enum": [
"CREDIT",
"DEBIT",
"PREPAID",
"WALLET"
]
}
},
"title": "AccountTypeRequestDTO"
},
"AccountTypeResponseDTO": {
"type": "object",
"properties": {
"id": {
"type": "string",
"format": "uuid"
},
"isWallet": {
"type": "boolean"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
},
"type": {
"type": "string",
"enum": [
"CREDIT",
"DEBIT",
"PREPAID",
"WALLET"
]
}
},
"title": "AccountTypeResponseDTO"
},
"AccountTypeService": {
"type": "object",
"title": "AccountTypeService"
},
"AuthorizationReleaseDateLogsResponseDTO": {
"type": "object",
"properties": {
"accountId": {
"type": "string",
"format": "uuid"
},
"authorizationReleaseDate": {
"type": "integer",
"format": "int32"
},
"blockedAfter": {
"type": "number",
"format": "double"
},
"blockedBefore": {
"type": "number",
"format": "double"
},
"createdAt": {
"$ref": "#/definitions/Calendar"
},
"id": {
"type": "string",
"format": "uuid"
},
"tranlogId": {
"type": "string",
"format": "uuid"
}
},
"title": "AuthorizationReleaseDateLogsResponseDTO"
},
"BatchProductionDetailResponseDTO": {
"type": "object",
"properties": {
"batchProductionID": {
"type": "string",
"format": "uuid"
},
"cardActivityDetailId": {
"type": "string",
"format": "uuid"
},
"id": {
"type": "string",
"format": "uuid"
},
"productionDetailStatus": {
"type": "string",
"enum": [
"TOBEPRINTED",
"CREATED",
"PRINTED",
"SKIPPED",
"ERROR"
]
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
},
"type": {
"type": "string",
"enum": [
"CARD",
"PIN"
]
}
},
"title": "BatchProductionDetailResponseDTO"
},
"BatchProductionResponseDTO": {
"type": "object",
"properties": {
"batchId": {
"type": "integer",
"format": "int64"
},
"batchStatus": {
"type": "string",
"enum": [
"PENDING",
"DONE",
"SKIPPED"
]
},
"fiCardActivitiesId": {
"type": "string",
"format": "uuid"
},
"fileId": {
"type": "integer",
"format": "int64"
},
"id": {
"type": "string",
"format": "uuid"
},
"pin": {
"type": "integer",
"format": "int64"
},
"plastic": {
"type": "integer",
"format": "int64"
},
"productID": {
"type": "string",
"format": "uuid"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "BatchProductionResponseDTO"
},
"BinRequestDTO": {
"type": "object",
"properties": {
"bin": {
"type": "string"
},
"digit": {
"type": "integer",
"format": "int32"
},
"fiId": {
"type": "string",
"format": "uuid"
},
"range": {
"type": "integer",
"format": "int32"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "BinRequestDTO"
},
"BinResponseDTO": {
"type": "object",
"properties": {
"bin": {
"type": "string"
},
"digit": {
"type": "integer",
"format": "int32"
},
"id": {
"type": "string",
"format": "uuid"
},
"range": {
"type": "integer",
"format": "int32"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "BinResponseDTO"
},
"BinService": {
"type": "object",
"title": "BinService"
},
"BucketEntryRequestDTO": {
"type": "object",
"properties": {
"accountId": {
"type": "string",
"format": "uuid"
},
"billingDate": {
"type": "string",
"format": "date"
},
"entryAmount": {
"type": "number"
},
"entryDate": {
"$ref": "#/definitions/Calendar"
},
"entrySign": {
"type": "string"
},
"fiBucketsId": {
"type": "string",
"format": "uuid"
},
"interestFlag": {
"type": "string",
"enum": [
"YES",
"NO"
]
},
"postingDate": {
"type": "string",
"format": "date"
},
"postingStatus": {
"type": "string",
"enum": [
"POSTED",
"REJECTED",
"DECLINE",
"PENDING"
]
},
"relatedId": {
"type": "string",
"format": "uuid"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
},
"transactionId": {
"type": "string",
"format": "uuid"
},
"trxEntryLine": {
"type": "integer",
"format": "int32"
}
},
"title": "BucketEntryRequestDTO"
},
"BucketEntryResponseDTO": {
"type": "object",
"properties": {
"accountId": {
"type": "string",
"format": "uuid"
},
"billingDate": {
"type": "string",
"format": "date"
},
"entryAmount": {
"type": "number"
},
"entryDate": {
"$ref": "#/definitions/Calendar"
},
"entrySign": {
"type": "string"
},
"fiBucketsId": {
"type": "string",
"format": "uuid"
},
"id": {
"type": "string",
"format": "uuid"
},
"interestFlag": {
"type": "string",
"enum": [
"YES",
"NO"
]
},
"postingDate": {
"type": "string",
"format": "date"
},
"postingStatus": {
"type": "string",
"enum": [
"POSTED",
"REJECTED",
"DECLINE",
"PENDING"
]
},
"relatedId": {
"type": "string",
"format": "uuid"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
},
"transactionId": {
"type": "string",
"format": "uuid"
},
"trxEntryLine": {
"type": "integer",
"format": "int32"
}
},
"title": "BucketEntryResponseDTO"
},
"BucketEntryService": {
"type": "object",
"title": "BucketEntryService"
},
"BucketRequestDTO": {
"type": "object",
"properties": {
"code": {
"type": "string"
},
"group": {
"type": "string",
"enum": [
"RETAIL",
"CASH",
"CREDIT",
"INTEREST",
"FEE"
]
},
"name": {
"type": "string"
},
"sign": {
"type": "string",
"enum": [
"D",
"C"
]
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
},
"type": {
"type": "string",
"enum": [
"TRANSACTION",
"AGED",
"DUE",
"OVD",
"OVERDRAFT"
]
}
},
"title": "BucketRequestDTO"
},
"BucketResponseDTO": {
"type": "object",
"properties": {
"code": {
"type": "string"
},
"group": {
"type": "string",
"enum": [
"RETAIL",
"CASH",
"CREDIT",
"INTEREST",
"FEE"
]
},
"id": {
"type": "string",
"format": "uuid"
},
"name": {
"type": "string"
},
"sign": {
"type": "string",
"enum": [
"D",
"C"
]
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
},
"type": {
"type": "string",
"enum": [
"TRANSACTION",
"AGED",
"DUE",
"OVD",
"OVERDRAFT"
]
}
},
"title": "BucketResponseDTO"
},
"BucketService": {
"type": "object",
"title": "BucketService"
},
"Calendar": {
"type": "object",
"properties": {
"calendarType": {
"type": "string"
},
"firstDayOfWeek": {
"type": "integer",
"format": "int32"
},
"lenient": {
"type": "boolean"
},
"minimalDaysInFirstWeek": {
"type": "integer",
"format": "int32"
},
"time": {
"type": "string",
"format": "date-time"
},
"timeInMillis": {
"type": "integer",
"format": "int64"
},
"timeZone": {
"$ref": "#/definitions/TimeZone"
},
"weekDateSupported": {
"type": "boolean"
},
"weekYear": {
"type": "integer",
"format": "int32"
},
"weeksInWeekYear": {
"type": "integer",
"format": "int32"
}
},
"title": "Calendar"
},
"CardActivityDetailResponseDTO": {
"type": "object",
"properties": {
"cardPanId": {
"type": "string",
"format": "uuid"
},
"embStatus": {
"type": "string"
},
"expiryDate": {
"type": "string",
"format": "date-time"
},
"fiCardActivityId": {
"type": "string",
"format": "uuid"
},
"id": {
"type": "string",
"format": "uuid"
},
"notificationActionId": {
"type": "string",
"format": "uuid"
},
"oldCard": {
"type": "string",
"format": "uuid"
},
"paymentToolId": {
"type": "string",
"format": "uuid"
},
"physicalStatusCode": {
"type": "string"
},
"physicalStatusId": {
"type": "string",
"format": "uuid"
},
"physicalStatusName": {
"type": "string"
},
"pin": {
"type": "string"
},
"pvv": {
"type": "string"
},
"seq": {
"type": "integer",
"format": "int32"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "CardActivityDetailResponseDTO"
},
"CardActivityRequestDTO": {
"type": "object",
"properties": {
"activity": {
"type": "string"
},
"activityCode": {
"type": "string"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "CardActivityRequestDTO"
},
"CardActivityResponseDTO": {
"type": "object",
"properties": {
"activity": {
"type": "string"
},
"activityCode": {
"type": "string"
},
"id": {
"type": "string",
"format": "uuid"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "CardActivityResponseDTO"
},
"CardActivityService": {
"type": "object",
"title": "CardActivityService"
},
"CardPlanRequestDTO": {
"type": "object",
"properties": {
"code": {
"type": "string"
},
"fiId": {
"type": "string",
"format": "uuid"
},
"name": {
"type": "string"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "CardPlanRequestDTO"
},
"CardPlanResponseDTO": {
"type": "object",
"properties": {
"code": {
"type": "string"
},
"fiId": {
"type": "string",
"format": "uuid"
},
"id": {
"type": "string",
"format": "uuid"
},
"name": {
"type": "string"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "CardPlanResponseDTO"
},
"CardPlanService": {
"type": "object",
"title": "CardPlanService"
},
"DecryptRequestDTO": {
"type": "object",
"properties": {
"encryptedPan": {
"type": "string"
},
"encryptionKeyPan": {
"type": "string",
"format": "uuid"
}
},
"title": "DecryptRequestDTO"
},
"EndOfDayRequestDTO": {
"type": "object",
"properties": {
"fiList": {
"type": "array",
"items": {
"type": "string",
"format": "uuid"
}
},
"startEndOfDayLists": {
"type": "array",
"items": {
"type": "string",
"enum": [
"PENDING_RELEASE_AUTHORIZATION",
"BUCKET_ACCOUNT_DISCREPANCIES",
"INCREMENT_FI_DATE"
]
}
}
},
"title": "EndOfDayRequestDTO"
},
"FILevelRequestDTO": {
"type": "object",
"properties": {
"fiId": {
"type": "string",
"format": "uuid"
},
"level": {
"type": "string",
"enum": [
"CARD",
"ACCOUNT",
"PRODUCT"
]
},
"priority": {
"type": "integer",
"format": "int32"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "FILevelRequestDTO"
},
"FILevelResponseDTO": {
"type": "object",
"properties": {
"fiId": {
"type": "string",
"format": "uuid"
},
"id": {
"type": "string",
"format": "uuid"
},
"level": {
"type": "string",
"enum": [
"CARD",
"ACCOUNT",
"PRODUCT"
]
},
"priority": {
"type": "integer",
"format": "int32"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "FILevelResponseDTO"
},
"FiAccountBucketDTO": {
"type": "object",
"properties": {
"accountId": {
"type": "string",
"format": "uuid"
},
"balance": {
"type": "number"
},
"fiBucketsBucketSign": {
"type": "string",
"enum": [
"D",
"C"
]
},
"fiBucketsId": {
"type": "string",
"format": "uuid"
},
"id": {
"type": "string",
"format": "uuid"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "FiAccountBucketDTO"
},
"FiAccountSubTypeRequestDTO": {
"type": "object",
"properties": {
"accountSubTypeId": {
"type": "string",
"format": "uuid"
},
"fiId": {
"type": "string",
"format": "uuid"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "FiAccountSubTypeRequestDTO"
},
"FiAccountSubTypeResponseDTO": {
"type": "object",
"properties": {
"accountSubTypeCode": {
"type": "string"
},
"fiId": {
"type": "string"
},
"id": {
"type": "string",
"format": "uuid"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "FiAccountSubTypeResponseDTO"
},
"FiAccountSubTypeService": {
"type": "object",
"title": "FiAccountSubTypeService"
},
"FiBucketLevelRequestDTO": {
"type": "object",
"properties": {
"bucketLevel": {
"type": "string",
"enum": [
"ACCOUNTSUBTYPE",
"PRODUCT"
]
},
"fiId": {
"type": "string",
"format": "uuid"
}
},
"title": "FiBucketLevelRequestDTO"
},
"FiBucketLevelResponseDTO": {
"type": "object",
"properties": {
"bucketLevel": {
"type": "string",
"enum": [
"ACCOUNTSUBTYPE",
"PRODUCT"
]
},
"fiId": {
"type": "string",
"format": "uuid"
},
"id": {
"type": "string",
"format": "uuid"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "FiBucketLevelResponseDTO"
},
"FiBucketLevelService": {
"type": "object",
"title": "FiBucketLevelService"
},
"FiBucketRequestDTO": {
"type": "object",
"properties": {
"agingBucket": {
"type": "string"
},
"agingCycle": {
"type": "string",
"format": "uuid"
},
"bucketId": {
"type": "string",
"format": "uuid"
},
"bucketRuleType": {
"type": "string",
"format": "uuid"
},
"fiBucketLevel": {
"type": "string",
"format": "uuid"
},
"fiId": {
"type": "string",
"format": "uuid"
},
"interestBucket": {
"type": "string"
},
"interestProfile": {
"type": "string",
"format": "uuid"
},
"levelValueId": {
"type": "string",
"format": "uuid"
},
"paymentPriority": {
"type": "integer",
"format": "int32"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "FiBucketRequestDTO"
},
"FiBucketRequestListDTO": {
"type": "object",
"properties": {
"buckets": {
"type": "array",
"items": {
"$ref": "#/definitions/FiBucketRequestDTO"
}
},
"fiId": {
"type": "string",
"format": "uuid"
},
"overDraft": {
"type": "boolean"
},
"unpaidDue": {
"type": "boolean"
}
},
"title": "FiBucketRequestListDTO"
},
"FiBucketResponseDTO": {
"type": "object",
"properties": {
"agingBucket": {
"type": "string"
},
"agingCycle": {
"type": "string",
"format": "uuid"
},
"bucketId": {
"type": "string",
"format": "uuid"
},
"bucketName": {
"type": "string"
},
"bucketRuleType": {
"type": "string"
},
"fiBucketLevel": {
"type": "string",
"format": "uuid"
},
"id": {
"type": "string",
"format": "uuid"
},
"interestBucket": {
"type": "string"
},
"interestProfile": {
"type": "string",
"format": "uuid"
},
"levelValueId": {
"type": "string",
"format": "uuid"
},
"paymentPriority": {
"type": "number"
}
},
"title": "FiBucketResponseDTO"
},
"FiCardActivitiesRequestDTO": {
"type": "object",
"properties": {
"activityLevel": {
"type": "string",
"enum": [
"CARD",
"PIN",
"BOTH",
"ACTIVITY"
]
},
"cardActivityId": {
"type": "string",
"format": "uuid"
},
"commands": {
"type": "string"
},
"fiId": {
"type": "string",
"format": "uuid"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "FiCardActivitiesRequestDTO"
},
"FiCardActivitiesResponseDTO": {
"type": "object",
"properties": {
"activityLevel": {
"type": "string",
"enum": [
"CARD",
"PIN",
"BOTH",
"ACTIVITY"
]
},
"cardActivityId": {
"type": "string",
"format": "uuid"
},
"commands": {
"type": "string"
},
"fiId": {
"type": "string",
"format": "uuid"
},
"id": {
"type": "string",
"format": "uuid"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "FiCardActivitiesResponseDTO"
},
"FiCardActivityService": {
"type": "object",
"title": "FiCardActivityService"
},
"FiCronRequestDTO": {
"type": "object",
"properties": {
"cron": {
"type": "string"
},
"cronJobs": {
"type": "array",
"items": {
"type": "string",
"enum": [
"PENDING_RELEASE_AUTHORIZATION",
"BUCKET_ACCOUNT_DISCREPANCIES",
"INCREMENT_FI_DATE"
]
}
},
"fiId": {
"type": "string",
"format": "uuid"
}
},
"title": "FiCronRequestDTO"
},
"FiCronResponseDTO": {
"type": "object",
"properties": {
"cron": {
"type": "string"
},
"cronJobs": {
"type": "array",
"items": {
"type": "string",
"enum": [
"PENDING_RELEASE_AUTHORIZATION",
"BUCKET_ACCOUNT_DISCREPANCIES",
"INCREMENT_FI_DATE"
]
}
},
"fiId": {
"type": "string",
"format": "uuid"
},
"id": {
"type": "string",
"format": "uuid"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "FiCronResponseDTO"
},
"FiCronService": {
"type": "object",
"title": "FiCronService"
},
"FiEmbossingReqRequestDTO": {
"type": "object",
"properties": {
"cvv2Offset": {
"type": "string"
},
"cvvOffset": {
"type": "string"
},
"fiEmbossingReqLevel": {
"type": "string",
"enum": [
"PRODUCT",
"FI"
]
},
"icvvOffset": {
"type": "string"
},
"objectId": {
"type": "string",
"format": "uuid"
},
"option": {
"type": "string",
"enum": [
"TRACK1",
"TRACK2",
"CARDMAILER",
"PINMAILER"
]
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
},
"value": {
"type": "string"
}
},
"title": "FiEmbossingReqRequestDTO"
},
"FiEmbossingReqResponseDTO": {
"type": "object",
"properties": {
"cvv2Offset": {
"type": "string"
},
"cvvOffset": {
"type": "string"
},
"fiEmbossingReqLevel": {
"type": "string",
"enum": [
"PRODUCT",
"FI"
]
},
"icvvOffset": {
"type": "string"
},
"id": {
"type": "string",
"format": "uuid"
},
"objectId": {
"type": "string",
"format": "uuid"
},
"option": {
"type": "string",
"enum": [
"TRACK1",
"TRACK2",
"CARDMAILER",
"PINMAILER"
]
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
},
"value": {
"type": "string"
}
},
"title": "FiEmbossingReqResponseDTO"
},
"FiEmbossingReqService": {
"type": "object",
"title": "FiEmbossingReqService"
},
"FiLevelService": {
"type": "object",
"title": "FiLevelService"
},
"HsmBatchCommandsRequestDTO": {
"type": "object",
"properties": {
"batchIDs": {
"type": "array",
"items": {
"type": "integer",
"format": "int64"
}
},
"batchTypes": {
"type": "array",
"items": {
"type": "string",
"enum": [
"CARD",
"PIN"
]
}
}
},
"title": "HsmBatchCommandsRequestDTO"
},
"InterestProfileRequestDTO": {
"type": "object",
"properties": {
"algorithm": {
"type": "string",
"enum": [
"TRANSACTION",
"BUCKET"
]
},
"daysInYear": {
"type": "integer",
"format": "int32"
},
"interestCalculationDate": {
"type": "string",
"enum": [
"POSTINGDATE",
"TRANSACTIONDATE"
]
},
"interestCalculationEvent": {
"type": "string",
"format": "uuid"
},
"interestRate": {
"type": "number",
"format": "double"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
},
"waiveFlag": {
"type": "boolean"
}
},
"title": "InterestProfileRequestDTO"
},
"InterestProfileResponseDTO": {
"type": "object",
"properties": {
"algorithm": {
"type": "string",
"enum": [
"TRANSACTION",
"BUCKET"
]
},
"daysInYear": {
"type": "integer",
"format": "int32"
},
"id": {
"type": "string",
"format": "uuid"
},
"interestCalculationDate": {
"type": "string",
"enum": [
"POSTINGDATE",
"TRANSACTIONDATE"
]
},
"interestCalculationEvent": {
"type": "string",
"enum": [
"MONTHLYCYCLEDATE",
"DUECYCLEDATE"
]
},
"interestRate": {
"type": "number",
"format": "double"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
},
"waiveFlag": {
"type": "boolean"
}
},
"title": "InterestProfileResponseDTO"
},
"InterestProfileService": {
"type": "object",
"title": "InterestProfileService"
},
"PageAccountAndBucketDiscrepanciesResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/AccountAndBucketDiscrepanciesResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageAccountAndBucketDiscrepanciesResponseDTO"
},
"PageAccountCardResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/AccountCardResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageAccountCardResponseDTO"
},
"PageAccountResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/AccountResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageAccountResponseDTO"
},
"PageAccountStatusResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/AccountStatusResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageAccountStatusResponseDTO"
},
"PageAccountStructureResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/AccountStructureResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageAccountStructureResponseDTO"
},
"PageAccountSubTypeResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/AccountSubTypeResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageAccountSubTypeResponseDTO"
},
"PageAccountTypeResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/AccountTypeResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageAccountTypeResponseDTO"
},
"PageAuthorizationReleaseDateLogsResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/AuthorizationReleaseDateLogsResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageAuthorizationReleaseDateLogsResponseDTO"
},
"PageBatchProductionDetailResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/BatchProductionDetailResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageBatchProductionDetailResponseDTO"
},
"PageBatchProductionResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/BatchProductionResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageBatchProductionResponseDTO"
},
"PageBinResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/BinResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageBinResponseDTO"
},
"PageBucketEntryResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/BucketEntryResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageBucketEntryResponseDTO"
},
"PageBucketResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/BucketResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageBucketResponseDTO"
},
"PageCardActivityDetailResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/CardActivityDetailResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageCardActivityDetailResponseDTO"
},
"PageCardActivityResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/CardActivityResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageCardActivityResponseDTO"
},
"PageCardPlanResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/CardPlanResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageCardPlanResponseDTO"
},
"PageFILevelResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/FILevelResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageFILevelResponseDTO"
},
"PageFiAccountBucketDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/FiAccountBucketDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageFiAccountBucketDTO"
},
"PageFiAccountSubTypeResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/FiAccountSubTypeResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageFiAccountSubTypeResponseDTO"
},
"PageFiBucketLevelResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/FiBucketLevelResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageFiBucketLevelResponseDTO"
},
"PageFiBucketResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/FiBucketResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageFiBucketResponseDTO"
},
"PageFiCardActivitiesResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/FiCardActivitiesResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageFiCardActivitiesResponseDTO"
},
"PageFiCronResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/FiCronResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageFiCronResponseDTO"
},
"PageFiEmbossingReqResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/FiEmbossingReqResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageFiEmbossingReqResponseDTO"
},
"PageInterestProfileResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/InterestProfileResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageInterestProfileResponseDTO"
},
"PagePaymentToolResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/PaymentToolResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PagePaymentToolResponseDTO"
},
"PagePaymentToolStatusResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/PaymentToolStatusResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PagePaymentToolStatusResponseDTO"
},
"PagePhysicalStatusResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/PhysicalStatusResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PagePhysicalStatusResponseDTO"
},
"PageProductResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/ProductResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageProductResponseDTO"
},
"PageProfileResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/ProfileResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageProfileResponseDTO"
},
"PageServiceCodeResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/ServiceCodeResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageServiceCodeResponseDTO"
},
"PageStatusWorkflowResponseDTO": {
"type": "object",
"properties": {
"content": {
"type": "array",
"items": {
"$ref": "#/definitions/StatusWorkflowResponseDTO"
}
},
"empty": {
"type": "boolean"
},
"first": {
"type": "boolean"
},
"last": {
"type": "boolean"
},
"number": {
"type": "integer",
"format": "int32"
},
"numberOfElements": {
"type": "integer",
"format": "int32"
},
"pageable": {
"$ref": "#/definitions/Pageable"
},
"size": {
"type": "integer",
"format": "int32"
},
"sort": {
"$ref": "#/definitions/Sort"
},
"totalElements": {
"type": "integer",
"format": "int64"
},
"totalPages": {
"type": "integer",
"format": "int32"
}
},
"title": "PageStatusWorkflowResponseDTO"
},
"PaymentToolClosingRequestDTO": {
"type": "object",
"properties": {
"pan": {
"type": "string"
},
"reasonCode": {
"type": "integer",
"format": "int32"
}
},
"title": "PaymentToolClosingRequestDTO"
},
"PaymentToolPinRequestDTO": {
"type": "object",
"properties": {
"pan": {
"type": "string"
}
},
"title": "PaymentToolPinRequestDTO"
},
"PaymentToolPinResponseDTO": {
"type": "object",
"properties": {
"pin": {
"type": "string"
}
},
"title": "PaymentToolPinResponseDTO"
},
"PaymentToolRequestDTO": {
"type": "object",
"properties": {
"accountId": {
"type": "string",
"format": "uuid"
},
"basicFlag": {
"type": "boolean"
},
"basicParentId": {
"type": "string",
"format": "uuid"
},
"cardPlanId": {
"type": "string",
"format": "uuid"
},
"companyName": {
"type": "string"
},
"deliverMethod": {
"type": "string"
},
"embossingName": {
"type": "string"
},
"fiBranchId": {
"type": "string",
"format": "uuid"
},
"firstName": {
"type": "string"
},
"lastName": {
"type": "string"
},
"paymentToolStatusId": {
"type": "string",
"format": "uuid"
},
"pinAttempts": {
"type": "integer",
"format": "int32"
},
"productId": {
"type": "string",
"format": "uuid"
},
"reasonId": {
"type": "string",
"format": "uuid"
},
"renewalFlag": {
"type": "boolean"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "PaymentToolRequestDTO"
},
"PaymentToolResponseDTO": {
"type": "object",
"properties": {
"basicFlag": {
"type": "boolean"
},
"basicParentId": {
"type": "string",
"format": "uuid"
},
"cardPlanCode": {
"type": "string"
},
"cardPlanId": {
"type": "string",
"format": "uuid"
},
"closingDate": {
"type": "string",
"format": "date-time"
},
"companyName": {
"type": "string"
},
"deliverMethod": {
"type": "string"
},
"embossingName": {
"type": "string"
},
"encryptedPan": {
"type": "string"
},
"encryptionKeyPan": {
"type": "string",
"format": "uuid"
},
"expiryDate": {
"type": "string",
"format": "date-time"
},
"fiBranchId": {
"type": "string",
"format": "uuid"
},
"firstName": {
"type": "string"
},
"formerExpiryDate": {
"type": "string",
"format": "date-time"
},
"id": {
"type": "string",
"format": "uuid"
},
"lastName": {
"type": "string"
},
"pan": {
"type": "string"
},
"paymentToolStatusId": {
"type": "string"
},
"pinAttempts": {
"type": "integer",
"format": "int32"
},
"productId": {
"type": "string",
"format": "uuid"
},
"productProductCode": {
"type": "string"
},
"productProductName": {
"type": "string"
},
"reasonId": {
"type": "string",
"format": "uuid"
},
"renewalFlag": {
"type": "boolean"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "PaymentToolResponseDTO"
},
"PaymentToolService": {
"type": "object",
"title": "PaymentToolService"
},
"PaymentToolStatusResponseDTO": {
"type": "object",
"properties": {
"allowAuth": {
"type": "boolean"
},
"allowFinTxn": {
"type": "boolean"
},
"id": {
"type": "string",
"format": "uuid"
},
"name": {
"type": "string",
"enum": [
"NORMAL",
"REPLACED",
"CANCELED",
"MIGRATED",
"STOPPED",
"SUSPENDED",
"PIN_EXCEEDED",
"CLOSED"
]
},
"responseCodeId": {
"type": "string",
"format": "uuid"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "PaymentToolStatusResponseDTO"
},
"PhysicalStatusRequestDTO": {
"type": "object",
"properties": {
"allowAuth": {
"type": "boolean"
},
"allowFinTxn": {
"type": "boolean"
},
"code": {
"type": "string"
},
"name": {
"type": "string"
},
"responseCodeId": {
"type": "string",
"format": "uuid"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "PhysicalStatusRequestDTO"
},
"PhysicalStatusResponseDTO": {
"type": "object",
"properties": {
"allowAuth": {
"type": "boolean"
},
"allowFinTxn": {
"type": "boolean"
},
"code": {
"type": "string"
},
"id": {
"type": "string",
"format": "uuid"
},
"name": {
"type": "string"
},
"responseCodeId": {
"type": "string",
"format": "uuid"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "PhysicalStatusResponseDTO"
},
"PhysicalStatusService": {
"type": "object",
"title": "PhysicalStatusService"
},
"ProductRequestDTO": {
"type": "object",
"properties": {
"allowedCurrencies": {
"type": "array",
"items": {
"type": "string"
}
},
"bin": {
"type": "string"
},
"binRange": {
"type": "string"
},
"businessRoleId": {
"type": "string",
"format": "uuid"
},
"cardType": {
"type": "string",
"enum": [
"PLATINUM",
"SILVER",
"CLASSIC"
]
},
"expiryYears": {
"type": "integer",
"format": "int32"
},
"memberSponsorId": {
"type": "string",
"format": "uuid"
},
"physicalType": {
"type": "string",
"enum": [
"PC",
"VCN"
]
},
"pinAttempts": {
"type": "integer",
"format": "int32"
},
"pinDelivery": {
"type": "string",
"enum": [
"PP",
"VP"
]
},
"productCode": {
"type": "string"
},
"productName": {
"type": "string"
},
"serviceCode": {
"type": "string"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
},
"suppCount": {
"type": "integer",
"format": "int32"
}
},
"title": "ProductRequestDTO"
},
"ProductResponseDTO": {
"type": "object",
"properties": {
"allowedCurrencies": {
"type": "array",
"items": {
"type": "string"
}
},
"binBin": {
"type": "string"
},
"businessRoleId": {
"type": "string",
"format": "uuid"
},
"id": {
"type": "string",
"format": "uuid"
},
"mainBinRange": {
"type": "integer",
"format": "int32"
},
"max": {
"type": "string"
},
"memberSponsorId": {
"type": "string"
},
"min": {
"type": "string"
},
"pinDelivery": {
"type": "string"
},
"plasticStatus": {
"type": "string"
},
"productCode": {
"type": "string"
},
"productName": {
"type": "string"
},
"serviceCodeId": {
"type": "string",
"format": "uuid"
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "ProductResponseDTO"
},
"ProductService": {
"type": "object",
"title": "ProductService"
},
"ProfileRequestDTO": {
"type": "object",
"properties": {
"category": {
"type": "string",
"enum": [
"ONLINE",
"OFFLINE"
]
},
"fiLevelId": {
"type": "string",
"format": "uuid"
},
"objectId": {
"type": "string",
"format": "uuid"
},
"parentProfileId": {
"type": "string",
"format": "uuid"
},
"profile": {
"type": "object",
"additionalProperties": {
"type": "string"
}
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "ProfileRequestDTO"
},
"ProfileResponseDTO": {
"type": "object",
"properties": {
"category": {
"type": "string"
},
"fiLevelId": {
"type": "string",
"format": "uuid"
},
"id": {
"type": "string",
"format": "uuid"
},
"objectId": {
"type": "string",
"format": "uuid"
},
"parentProfileId": {
"type": "string",
"format": "uuid"
},
"profile": {
"type": "object",
"additionalProperties": {
"type": "string"
}
},
"status": {
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
},
"title": "ProfileResponseDTO"
},
"ProfileService": {
"type": "object",
"title": "ProfileService"
},
"RestCommonResponseDTO": {
"type": "object",
"properties": {
"data": {
"type": "object"
},
"devMessage": {
"type": "string"
},
"errorCode": {
"type": "integer",
"format": "int32"
},
"message": {
"type": "string"
},
"title": {
"type": "string"
},
"valid": {
"type": "boolean"
}
},
"title": "RestCommonResponseDTO"
},
"RestCommonResponseDTOAccountAndBucketDiscrepanciesResponseDTO": {
"type": "object",
"properties": {
[...]
