{
    "swagger": "2.0",
    "info": {
      "description": "ASIA HAWALA APIs",
      "version": "0.2.11",
      "title": "ASIA HAWALA APIs",
      "termsOfService": "Terms of Service"
    },
    "host": "api-oci.areeba.com",
    "basePath": "/",
    "paths": {
      "/issuing/access-token": {
        "post": {
          "tags": ["AccessToken"],
          "summary": "Get Token",
          "operationId": "returnAccessTokenUsingPOST",
          "consumes": ["application/json"],
          "produces": ["*/*"],
          "parameters": [
            {
              "in": "body",
              "name": "request",
              "description": "request",
              "required": true,
              "schema": { "$ref": "#/definitions/AccessTokenRequestDTO" }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": { "$ref": "#/definitions/RestCommonResponseDTO" }
            },
            "201": { "description": "Created" },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" },
            "404": { "description": "Not Found" }
          },
          "deprecated": false
        }
      },
      "/onboarding/account-holder": {
        "post": {
          "tags": ["Client"],
          "summary": "Create a new Client",
          "operationId": "saveNewUsingPOST_CL",
          "consumes": ["application/json"],
          "produces": ["*/*"],
          "parameters": [
            {
              "in": "body",
              "name": "req",
              "description": "Instance data",
              "required": false,
              "schema": { "$ref": "#/definitions/AccountHolderRequestDTO" }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/RestCommonResponseDTO"
              }
            },
            "201": { "description": "Created" },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" },
            "404": { "description": "Not Found" }
          },
          
          "deprecated": false
        }
      },
      "/onboarding/account-holder/{id}": {
        "get": {
          "tags": ["Client"],
          "summary": "Get Client by id",
          "operationId": "findByIdUsingGET",
          "produces": ["*/*"],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "Id of the instance that will be retrieved",
              "required": true,
              "type": "string",
              "format": "uuid"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/RestCommonResponseDTO"
              }
            },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" },
            "404": { "description": "Not Found" }
          },
          
          "deprecated": false
        },
        "put": {
          "tags": ["Client"],
          "summary": "Update an existing Client",
          "operationId": "updateUsingPUT",
          "consumes": ["application/json"],
          "produces": ["*/*"],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "Id of Client that should be updated",
              "required": true,
              "type": "string",
              "format": "uuid"
            },
            {
              "in": "body",
              "name": "req",
              "description": "Instance data",
              "required": false,
              "schema": { "$ref": "#/definitions/AccountHolderRequestDTO" }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/RestCommonResponseDTO"
              }
            },
            "201": { "description": "Created" },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" },
            "404": { "description": "Not Found" }
          },
          
          "deprecated": false
        },
        "delete": {
          "tags": ["Client"],
          "summary": "Delete an existing Client",
          "operationId": "deleteUsingDELETE",
          "produces": ["*/*"],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "Id of Client that should be deleted",
              "required": true,
              "type": "string",
              "format": "uuid"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/RestCommonResponseDTO"
              }
            },
            "204": { "description": "No Content" },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" }
          },
          
          "deprecated": false
        }
      },
      "/issuing/account": {
        "post": {
          "tags": ["Account"],
          "summary": "Create a new Account",
          "operationId": "saveNewUsingPOST",
          "consumes": ["application/json"],
          "produces": ["*/*"],
          "parameters": [
            {
              "in": "body",
              "name": "req",
              "description": "Instance data",
              "required": false,
              "schema": { "$ref": "#/definitions/AccountRequestDTO" }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/RestCommonResponseDTO"
              }
            },
            "201": { "description": "Created" },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" },
            "404": { "description": "Not Found" }
          },
          
          "deprecated": false
        }
      },
      "/issuing/account/{id}": {
        "get": {
          "tags": ["Account"],
          "summary": "Find Account by Id",
          "operationId": "findByIdUsingGET_2",
          "produces": ["*/*"],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "Get Account Details by Id",
              "required": true,
              "type": "string",
              "format": "uuid"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/RestCommonResponseDTO"
              }
            },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" },
            "404": { "description": "Not Found" }
          },
          
          "deprecated": false
        },
        "put": {
          "tags": ["Account"],
          "summary": "Update an existing Account",
          "operationId": "updateUsingPUT_ACC",
          "consumes": ["application/json"],
          "produces": ["*/*"],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "Id of Account that should be updated",
              "required": true,
              "type": "string",
              "format": "uuid"
            },
            {
              "in": "body",
              "name": "req",
              "description": "Account data",
              "required": false,
              "schema": { "$ref": "#/definitions/AccountRequestDTO" }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/RestCommonResponseDTO"
              }
            },
            "201": { "description": "Created" },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" },
            "404": { "description": "Not Found" }
          },
          
          "deprecated": false
        },
        "delete": {
          "tags": ["Account"],
          "summary": "Delete an existing Account",
          "operationId": "deleteUsingDELETE_ACC",
          "produces": ["*/*"],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "Id of Account that should be deleted",
              "required": true,
              "type": "string",
              "format": "uuid"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/RestCommonResponseDTO"
              }
            },
            "204": { "description": "No Content" },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" }
          },
          
          "deprecated": false
        }
      },
      "/issuing/payment-tool": {
        "post": {
          "tags": ["Card"],
          "summary": "Create a new Card",
          "operationId": "saveNewUsingPOST_18",
          "consumes": ["application/json"],
          "produces": ["*/*"],
          "parameters": [
            {
              "in": "body",
              "name": "req",
              "description": "Card data",
              "required": false,
              "schema": { "$ref": "#/definitions/PaymentToolRequestDTO" }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/RestCommonResponseDTO"
              }
            },
            "201": { "description": "Created" },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" },
            "404": { "description": "Not Found" }
          },
          
          "deprecated": false
        }
      },
      "/issuing/payment-tool/{id}": {
        "get": {
          "tags": ["Card"],
          "summary": "Get Card Details by Id",
          "operationId": "findByIdUsingGET_25",
          "produces": ["*/*"],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "Id of the Card that will be retrieved",
              "required": true,
              "type": "string",
              "format": "uuid"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/RestCommonResponseDTO"
              }
            },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" },
            "404": { "description": "Not Found" }
          },
          
          "deprecated": false
        },
        "put": {
          "tags": ["Card"],
          "summary": "Update an existing Card",
          "operationId": "updateUsingPUT_18",
          "consumes": ["application/json"],
          "produces": ["*/*"],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "Id of Card that should be updated",
              "required": true,
              "type": "string",
              "format": "uuid"
            },
            {
              "in": "body",
              "name": "req",
              "description": "Card data",
              "required": false,
              "schema": { "$ref": "#/definitions/PaymentToolRequestDTO" }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/RestCommonResponseDTO"
              }
            },
            "201": { "description": "Created" },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" },
            "404": { "description": "Not Found" }
          },
          
          "deprecated": false
        },
        "delete": {
          "tags": ["Card"],
          "summary": "Delete an existing Card",
          "operationId": "deleteUsingDELETE_17",
          "produces": ["*/*"],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "Id of Card that should be deleted",
              "required": true,
              "type": "string",
              "format": "uuid"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/RestCommonResponseDTO"
              }
            },
            "204": { "description": "No Content" },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" }
          },
          
          "deprecated": false
        }
      },
      "/issuing/zaky/cvv": {
        "get": {
          "tags": ["Get CVV"],
          "summary": "getCVV",
          "operationId": "getCvvUsingGET",
          "produces": ["*/*"],
          "parameters": [
            {
              "name": "Expiry Date",
              "in": "query",
              "description": "Card Expiry Date",
              "required": true,
              "type": "string"
            },
            {
              "name": "Card Number",
              "in": "query",
              "description": "Card Number",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": { "$ref": "#/definitions/RestCommonResponseDTO" }
            },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" },
            "404": { "description": "Not Found" }
          },
          
          "deprecated": false
        }
      },
      "/issuing/payment-tool/activate": {
        "put": {
          "tags": ["Card"],
          "summary": "Activate Cards",
          "operationId": "activateCardsUsingPUT",
          "consumes": ["application/json"],
          "produces": ["*/*"],
          "parameters": [
            {
              "in": "body",
              "name": "Cards",
              "description": "List of Cards to be activated",
              "required": true,
              "schema": { "type": "array", "items": { "type": "string" } }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/RestCommonResponseDTO"
              }
            },
            "201": { "description": "Created" },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" },
            "404": { "description": "Not Found" }
          },
          
          "deprecated": false
        }
      },
      "/issuing/payment-tool/close": {
        "put": {
          "tags": ["Card"],
          "summary": "Close Cards",
          "operationId": "closeCardsUsingPUT",
          "consumes": ["application/json"],
          "produces": ["*/*"],
          "parameters": [
            {
              "in": "body",
              "name": "list",
              "description": "list",
              "required": true,
              "schema": {
                "type": "array",
                "items": { "$ref": "#/definitions/PaymentToolClosingRequestDTO" }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/RestCommonResponseDTO"
              }
            },
            "201": { "description": "Created" },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" },
            "404": { "description": "Not Found" }
          },
          
          "deprecated": false
        }
      },
      "/issuing/payment-tool/replacement-process": {
        "put": {
          "tags": ["Card"],
          "summary": "Replace Card",
          "operationId": "cardReplacementUsingPUT",
          "consumes": ["application/json"],
          "produces": ["*/*"],
          "parameters": [
            {
              "in": "body",
              "name": "Card Request",
              "description": "List of Cards to be replaced",
              "required": false,
              "schema": { "type": "array", "items": { "type": "string" } }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": { "$ref": "#/definitions/RestCommonResponseDTO" }
            },
            "201": { "description": "Created" },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" },
            "404": { "description": "Not Found" }
          },
          
          "deprecated": false
        }
      },
      "/issuing/account/available/pan/{pan}": {
        "get": {
          "tags": ["Account"],
          "summary": "Get Available Balance",
          "operationId": "getAvailableUsingGET",
          "produces": ["*/*"],
          "parameters": [
            {
              "name": "pan",
              "in": "path",
              "description": "Card Number",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": { "$ref": "#/definitions/RestCommonResponseDTO" }
            },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" },
            "404": { "description": "Not Found" }
          },
          
          "deprecated": false
        }
      },
      "/issuing/account/balance/pan/{pan}": {
        "get": {
          "tags": ["Account"],
          "summary": "Get Outstanding Balance",
          "operationId": "getBalanceUsingGET",
          "produces": ["*/*"],
          "parameters": [
            {
              "name": "pan",
              "in": "path",
              "description": "Card Number",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": { "$ref": "#/definitions/RestCommonResponseDTO" }
            },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" },
            "404": { "description": "Not Found" }
          },
          
          "deprecated": false
        }
      },
      "/processing/reloading": {
        "post": {
          "tags": ["Card Topup"],
          "summary": "Top-up a card",
          "operationId": "saveNewUsingPOST_3",
          "consumes": ["application/json"],
          "produces": ["*/*"],
          "parameters": [
            {
              "in": "body",
              "name": "req",
              "description": "Top-up a card",
              "required": false,
              "schema": { "$ref": "#/definitions/ReloadingRequestDTO" }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/RestCommonResponseDTO"
              }
            },
            "201": { "description": "Created" },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" },
            "404": { "description": "Not Found" }
          },
          
          "deprecated": false
        }
      },
      "/processing/tranlog/find-by-criteria": {
        "post": {
          "tags": ["tranlog-controller"],
          "summary": "Find all authorizations by specific criteria",
          "operationId": "findByCriteriaUsingPOST_5",
          "consumes": ["application/json"],
          "produces": ["*/*"],
          "parameters": [
            {
              "in": "body",
              "name": "criteria",
              "description": "Criteria",
              "required": false,
              "schema": { "$ref": "#/definitions/PageSizeSortCriteria" }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/RestCommonResponseDTO"
              }
            },
            "201": { "description": "Created" },
            "401": { "description": "Unauthorized" },
            "403": { "description": "Forbidden" },
            "404": { "description": "Not Found" }
          },
          
          "deprecated": false
        }
      }                 
    },
    "securityDefinitions": {
        "JWT": { "type": "apiKey", "name": "Authorization", "in": "header" }
    },
    }
