{
"swagger": "2.0",
"info": {
"description": "App that manages issuing",
"version": "0.0.1-SNAPSHOT",
"title": "Verto-issuing",
"termsOfService": "Terms of Service"
},
"host": "api-oci.areeba.com/issuing",
"basePath": "/",
"tags": [
{
"name": "AccessToken",
"description": "Access Token"
},
{
"name": "Account",
"description": "Account endpoints"
},
{
"name": "Account And Bucket Discrepancies",
"description": "Get Account And BucketDiscrepancies Logs"
},
{
"name": "Account-Status",
"description": "Account Status for creating and updating the account statuses"
},
{
"name": "Account-Structure",
"description": "Account Structure containing account restrictions"
},
{
"name": "Account-Sub-Type",
"description": "Manages the account sub types"
},
{
"name": "Account-Type",
"description": "Manages the account-types"
},
{
"name": "Authorization Release Date Logs",
"description": "Get Authorization Release Date Logs"
},
{
"name": "Bin",
"description": "Manages Bin"
},
{
"name": "Bucket",
"description": "Creation Of Buckets"
},
{
"name": "Card-Plan",
"description": "Manages Card-Plan"
},
{
"name": "End Of Day",
"description": "End Of Day endpoints"
},
{
"name": "FI-Account-Sub-Type",
"description": "Manages the fi-account-sub-types"
},
{
"name": "Fi Bucket",
"description": "Fi Bucket endpoints"
},
{
"name": "Fi Cron",
"description": "Fi Cron"
},
{
"name": "File-Upload",
"description": "Api to download files directly to the system"
},
{
"name": "Payment-Tool",
"description": "Manages the Payment-Tool"
},
{
"name": "Status Workflow",
"description": "All status workflow end-points"
},
{
"name": "Thales",
"description": "Executing Thales Commands"
},
{
"name": "Zaky",
"description": "Zaky Controller"
},
{
"name": "account-card",
"description": "Manages the account-card"
},
{
"name": "batch-production",
"description": "Manages the Batch Production"
},
{
"name": "batch-production-detail",
"description": "Manages the batch-production-detail"
},
{
"name": "bucket-entry-controller",
"description": "Bucket Entry Controller"
},
{
"name": "card-activity",
"description": "card-activity"
},
{
"name": "card-activity-detail",
"description": "card-activity-detail"
},
{
"name": "fi-account-bucket-controller",
"description": "Fi Account Bucket Controller"
},
{
"name": "fi-bucket-level",
"description": "Manages the fi-bucket-level"
},
{
"name": "fi-card-activity",
"description": "fi-card-activity"
},
{
"name": "fi-embossing-req",
"description": "fi-embossing-req"
},
{
"name": "fi-level",
"description": "Manages the fi-level"
},
{
"name": "interest-profile",
"description": "Manages the interest-profile"
},
{
"name": "payment-tool-status-controller",
"description": "Payment Tool Status Controller"
},
{
"name": "physical-status-controller",
"description": "Physical Status Controller"
},
{
"name": "product-controller",
"description": "Product Controller"
},
{
"name": "profile",
"description": "Manages the profile"
},
{
"name": "service-code",
"description": "Manages the service-code"
},
{
"name": "ssm-decrypt-controller",
"description": "SSM Decrypt Controller"
}
],
"paths": {
"/access-token": {
"post": {
"tags": [
"AccessToken"
],
"summary": "Get Access Token",
"operationId": "returnAccessTokenUsingPOST",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "request",
"description": "request",
"required": true,
"schema": {
"$ref": "#/definitions/AccessTokenRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«string»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/access-token/validate-user": {
"post": {
"tags": [
"AccessToken"
],
"summary": "Create User If Not Exist And Return Access Token",
"operationId": "validateUserAndReturnAccessTokenUsingPOST",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "request",
"description": "request",
"required": true,
"schema": {
"$ref": "#/definitions/CreateAndReturnTokenRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«string»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account": {
"get": {
"tags": [
"Account"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_2",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«AccountResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"post": {
"tags": [
"Account"
],
"summary": "Create a new instance",
"operationId": "saveNewUsingPOST",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/AccountRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-bucket-discrepancies": {
"get": {
"tags": [
"Account And Bucket Discrepancies"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«AccountAndBucketDiscrepanciesResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-bucket-discrepancies/find-by-criteria": {
"post": {
"tags": [
"Account And Bucket Discrepancies"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«AccountAndBucketDiscrepanciesResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-bucket-discrepancies/{id}": {
"get": {
"tags": [
"Account And Bucket Discrepancies"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountAndBucketDiscrepanciesResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-card": {
"get": {
"tags": [
"account-card"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_1",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«AccountCardResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-card/account/{accountId}": {
"get": {
"tags": [
"account-card"
],
"summary": "findAccountCardByAccountId",
"operationId": "findAccountCardByAccountIdUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "accountId",
"in": "path",
"description": "accountId",
"required": true,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«AccountCardResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-card/find-by-criteria": {
"post": {
"tags": [
"account-card"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_1",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«AccountCardResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-card/payment-tool/{id}": {
"get": {
"tags": [
"account-card"
],
"summary": "findAccountByPaymentToolId",
"operationId": "findAccountByPaymentToolIdUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "id",
"required": true,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountCardResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-card/paymentools/{paymentToolId}": {
"get": {
"tags": [
"account-card"
],
"summary": "findAccountCardsByPaymentToolId",
"operationId": "findAccountCardsByPaymentToolIdUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "paymentToolId",
"in": "path",
"description": "paymentToolId",
"required": true,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«AccountCardResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-card/{id}": {
"get": {
"tags": [
"account-card"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_1",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountCardResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-status": {
"get": {
"tags": [
"Account-Status"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_3",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«AccountStatusResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"post": {
"tags": [
"Account-Status"
],
"summary": "Create a new instance",
"operationId": "saveNewUsingPOST_1",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/AccountStatusRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountStatusResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-status/find-by-criteria": {
"post": {
"tags": [
"Account-Status"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_3",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«AccountStatusResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-status/{id}": {
"get": {
"tags": [
"Account-Status"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_3",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountStatusResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"put": {
"tags": [
"Account-Status"
],
"summary": "Update an existing instance",
"operationId": "updateUsingPUT_1",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be updated",
"required": false,
"type": "string",
"format": "uuid"
},
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/AccountStatusRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountStatusResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"delete": {
"tags": [
"Account-Status"
],
"summary": "Delete an existing instance",
"operationId": "deleteUsingDELETE_1",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be deleted",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountStatusRequestDTO»"
}
},
"204": {
"description": "No Content"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-structure": {
"get": {
"tags": [
"Account-Structure"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_4",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«AccountStructureResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"post": {
"tags": [
"Account-Structure"
],
"summary": "Create a new instance",
"operationId": "saveNewUsingPOST_2",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/AccountStructureRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountStructureResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-structure/find-by-criteria": {
"post": {
"tags": [
"Account-Structure"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_4",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«AccountStructureResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-structure/{id}": {
"get": {
"tags": [
"Account-Structure"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_4",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountStructureResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"put": {
"tags": [
"Account-Structure"
],
"summary": "Update an existing instance",
"operationId": "updateUsingPUT_2",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be updated",
"required": false,
"type": "string",
"format": "uuid"
},
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/AccountStructureRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountStructureResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"delete": {
"tags": [
"Account-Structure"
],
"summary": "Delete an existing instance",
"operationId": "deleteUsingDELETE_2",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be deleted",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountStructureRequestDTO»"
}
},
"204": {
"description": "No Content"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-sub-type": {
"get": {
"tags": [
"Account-Sub-Type"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_5",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«AccountSubTypeResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"post": {
"tags": [
"Account-Sub-Type"
],
"summary": "Create a new instance",
"operationId": "saveNewUsingPOST_3",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/AccountSubTypeRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountSubTypeResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-sub-type/find-by-criteria": {
"post": {
"tags": [
"Account-Sub-Type"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_5",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«AccountSubTypeResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-sub-type/{id}": {
"get": {
"tags": [
"Account-Sub-Type"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_5",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountSubTypeResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"put": {
"tags": [
"Account-Sub-Type"
],
"summary": "Update an existing instance",
"operationId": "updateUsingPUT_3",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be updated",
"required": false,
"type": "string",
"format": "uuid"
},
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/AccountSubTypeRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountSubTypeResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"delete": {
"tags": [
"Account-Sub-Type"
],
"summary": "Delete an existing instance",
"operationId": "deleteUsingDELETE_3",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be deleted",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountSubTypeRequestDTO»"
}
},
"204": {
"description": "No Content"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-type": {
"get": {
"tags": [
"Account-Type"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_6",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«AccountTypeResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"post": {
"tags": [
"Account-Type"
],
"summary": "Create a new instance",
"operationId": "saveNewUsingPOST_4",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/AccountTypeRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountTypeResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-type/find-by-criteria": {
"post": {
"tags": [
"Account-Type"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_6",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«AccountTypeResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account-type/{id}": {
"get": {
"tags": [
"Account-Type"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_6",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountTypeResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"put": {
"tags": [
"Account-Type"
],
"summary": "Update an existing instance",
"operationId": "updateUsingPUT_4",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be updated",
"required": false,
"type": "string",
"format": "uuid"
},
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/AccountTypeRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountTypeResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"delete": {
"tags": [
"Account-Type"
],
"summary": "Delete an existing instance",
"operationId": "deleteUsingDELETE_4",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be deleted",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountTypeRequestDTO»"
}
},
"204": {
"description": "No Content"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account/account-number/{number}": {
"get": {
"tags": [
"Account"
],
"summary": "findByAccountNumber",
"operationId": "findByAccountNumberUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "number",
"in": "path",
"description": "number",
"required": true,
"type": "string"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account/available/pan/{pan}": {
"get": {
"tags": [
"Account"
],
"summary": "getAvailable",
"operationId": "getAvailableUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "pan",
"in": "path",
"description": "pan",
"required": true,
"type": "string"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«double»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account/balance/pan/{pan}": {
"get": {
"tags": [
"Account"
],
"summary": "getBalance",
"operationId": "getBalanceUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "pan",
"in": "path",
"description": "pan",
"required": true,
"type": "string"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«double»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account/close": {
"put": {
"tags": [
"Account"
],
"summary": "Close the accounts with the specified IDS",
"operationId": "closeAccountUsingPUT",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "accountIds",
"description": "List of the accounts UUID",
"required": true,
"schema": {
"type": "array",
"items": {
"type": "string",
"format": "uuid"
}
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account/find-by-criteria": {
"post": {
"tags": [
"Account"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_2",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«AccountResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account/paymentTool/{paymentToolId}": {
"get": {
"tags": [
"Account"
],
"summary": "findAccountByPaymentToolId",
"operationId": "findAccountByPaymentToolIdUsingGET_1",
"produces": [
"*/*"
],
"parameters": [
{
"name": "paymentToolId",
"in": "path",
"description": "paymentToolId",
"required": true,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/account/{id}": {
"get": {
"tags": [
"Account"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_2",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"put": {
"tags": [
"Account"
],
"summary": "Update an existing instance",
"operationId": "updateUsingPUT",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be updated",
"required": false,
"type": "string",
"format": "uuid"
},
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/AccountRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"delete": {
"tags": [
"Account"
],
"summary": "Delete an existing instance",
"operationId": "deleteUsingDELETE",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be deleted",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AccountRequestDTO»"
}
},
"204": {
"description": "No Content"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/authorization-release-date-logs": {
"get": {
"tags": [
"Authorization Release Date Logs"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_7",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«AuthorizationReleaseDateLogsResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/authorization-release-date-logs/find-by-criteria": {
"post": {
"tags": [
"Authorization Release Date Logs"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_7",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«AuthorizationReleaseDateLogsResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/authorization-release-date-logs/{id}": {
"get": {
"tags": [
"Authorization Release Date Logs"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_7",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«AuthorizationReleaseDateLogsResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/batch-production": {
"get": {
"tags": [
"batch-production"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_8",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«BatchProductionResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/batch-production-detail": {
"get": {
"tags": [
"batch-production-detail"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_9",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«BatchProductionDetailResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/batch-production-detail/find-by-criteria": {
"post": {
"tags": [
"batch-production-detail"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_9",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«BatchProductionDetailResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/batch-production-detail/{id}": {
"get": {
"tags": [
"batch-production-detail"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_9",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«BatchProductionDetailResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/batch-production/find-by-criteria": {
"post": {
"tags": [
"batch-production"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_8",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«BatchProductionResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/batch-production/run": {
"post": {
"tags": [
"batch-production"
],
"summary": "Creates Batches By FI ",
"operationId": "runBatchProductionUsingPOST",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "List of FIs",
"required": false,
"schema": {
"type": "array",
"items": {
"type": "string",
"format": "uuid"
}
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/batch-production/run-hsm-commands": {
"put": {
"tags": [
"batch-production"
],
"summary": "Runs-Batch-Production",
"operationId": "runBatchProductionDetailHsmCommandsUsingPUT",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "List of buckets",
"required": false,
"schema": {
"$ref": "#/definitions/HsmBatchCommandsRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/batch-production/{id}": {
"get": {
"tags": [
"batch-production"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_8",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«BatchProductionResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/bin": {
"get": {
"tags": [
"Bin"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_10",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«BinResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"post": {
"tags": [
"Bin"
],
"summary": "Create a new instance",
"operationId": "saveNewUsingPOST_5",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/BinRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«BinResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/bin/find-by-criteria": {
"post": {
"tags": [
"Bin"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_10",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«BinResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/bin/{id}": {
"get": {
"tags": [
"Bin"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_10",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«BinResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"put": {
"tags": [
"Bin"
],
"summary": "Update an existing instance",
"operationId": "updateUsingPUT_5",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be updated",
"required": false,
"type": "string",
"format": "uuid"
},
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/BinRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«BinResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"delete": {
"tags": [
"Bin"
],
"summary": "Delete an existing instance",
"operationId": "deleteUsingDELETE_5",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be deleted",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«BinRequestDTO»"
}
},
"204": {
"description": "No Content"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/bucket": {
"get": {
"tags": [
"Bucket"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_11",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«BucketResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"post": {
"tags": [
"Bucket"
],
"summary": "Create a new instance",
"operationId": "saveNewUsingPOST_6",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/BucketRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«BucketResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/bucket-entry": {
"get": {
"tags": [
"bucket-entry-controller"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_12",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«BucketEntryResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"post": {
"tags": [
"bucket-entry-controller"
],
"summary": "Create a new instance",
"operationId": "saveNewUsingPOST_7",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "bucketEntryRequestDTO",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/BucketEntryRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«BucketEntryResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/bucket-entry/account/{accountId}/sign/{sign}/status/{status}/tran/{transactionID}": {
"post": {
"tags": [
"bucket-entry-controller"
],
"summary": "findByAccountIdAndEntrySignAndStatusAndTransactionIdOrderByTrxEntryLineDesc",
"operationId": "findByAccountIdAndEntrySignAndStatusAndTransactionIdOrderByTrxEntryLineDescUsingPOST",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "accountId",
"in": "path",
"description": "accountId",
"required": true,
"type": "string",
"format": "uuid"
},
{
"name": "sign",
"in": "path",
"description": "sign",
"required": true,
"type": "string"
},
{
"name": "status",
"in": "path",
"description": "status",
"required": true,
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
},
{
"name": "transactionID",
"in": "path",
"description": "transactionID",
"required": true,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«BucketEntryResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/bucket-entry/find-by-criteria": {
"post": {
"tags": [
"bucket-entry-controller"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_12",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«BucketEntryResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/bucket-entry/related-id/{relatedId}": {
"get": {
"tags": [
"bucket-entry-controller"
],
"summary": "getByRelatedId",
"operationId": "getByRelatedIdUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "relatedId",
"in": "path",
"description": "relatedId",
"required": true,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«BucketEntryResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/bucket-entry/related/{related}/account/{account}/sign/{sign}/status/{status}": {
"post": {
"tags": [
"bucket-entry-controller"
],
"summary": "findByRelatedIdAndAccountIdAndEntrySignAndStatusAndTransactionIdIn",
"operationId": "findByRelatedIdAndAccountIdAndEntrySignAndStatusAndTransactionIdInUsingPOST",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "account",
"in": "path",
"description": "account",
"required": true,
"type": "string",
"format": "uuid"
},
{
"name": "related",
"in": "path",
"description": "related",
"required": true,
"type": "string",
"format": "uuid"
},
{
"name": "sign",
"in": "path",
"description": "sign",
"required": true,
"type": "string"
},
{
"name": "status",
"in": "query",
"description": "status",
"required": false,
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
},
{
"in": "body",
"name": "tranfins",
"description": "tranfins",
"required": true,
"schema": {
"type": "array",
"items": {
"type": "string",
"format": "uuid"
}
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«BucketEntryResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/bucket-entry/{id}": {
"get": {
"tags": [
"bucket-entry-controller"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_12",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«BucketEntryResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"put": {
"tags": [
"bucket-entry-controller"
],
"summary": "Update an existing instance",
"operationId": "updateUsingPUT_7",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be updated",
"required": false,
"type": "string",
"format": "uuid"
},
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/BucketEntryRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«BucketEntryResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"delete": {
"tags": [
"bucket-entry-controller"
],
"summary": "Delete an existing instance",
"operationId": "deleteUsingDELETE_7",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be deleted",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«BucketEntryRequestDTO»"
}
},
"204": {
"description": "No Content"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/bucket/find-by-criteria": {
"post": {
"tags": [
"Bucket"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_11",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«BucketResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/bucket/inter-bucket/{id}": {
"get": {
"tags": [
"Bucket"
],
"summary": "interBucket",
"operationId": "interBucketUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "id",
"required": true,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«string»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/bucket/{id}": {
"get": {
"tags": [
"Bucket"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_11",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«BucketResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"put": {
"tags": [
"Bucket"
],
"summary": "Update an existing instance",
"operationId": "updateUsingPUT_6",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be updated",
"required": false,
"type": "string",
"format": "uuid"
},
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/BucketRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«BucketResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"delete": {
"tags": [
"Bucket"
],
"summary": "Delete an existing instance",
"operationId": "deleteUsingDELETE_6",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be deleted",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«BucketRequestDTO»"
}
},
"204": {
"description": "No Content"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/card-activity": {
"get": {
"tags": [
"card-activity"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_13",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«CardActivityResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"post": {
"tags": [
"card-activity"
],
"summary": "Create a new instance",
"operationId": "saveNewUsingPOST_8",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/CardActivityRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«CardActivityResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/card-activity-detail": {
"get": {
"tags": [
"card-activity-detail"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_14",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«CardActivityDetailResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/card-activity-detail/find-by-criteria": {
"post": {
"tags": [
"card-activity-detail"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_14",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«CardActivityDetailResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/card-activity-detail/find-payment-tool-id-and-status-physical/{paymentToolId}/{status}/{physicalStatusId}": {
"get": {
"tags": [
"card-activity-detail"
],
"summary": "findByPaymentToolIdAndStatusAndPhysicalStatusId",
"operationId": "findByPaymentToolIdAndStatusAndPhysicalStatusIdUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "paymentToolId",
"in": "path",
"description": "paymentToolId",
"required": true,
"type": "string",
"format": "uuid"
},
{
"name": "physicalStatusId",
"in": "path",
"description": "physicalStatusId",
"required": true,
"type": "string",
"format": "uuid"
},
{
"name": "status",
"in": "path",
"description": "status",
"required": true,
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«CardActivityDetailResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/card-activity-detail/find-payment-tool-id-and-status-seq/{paymentTool}/{approved}/{seq}": {
"get": {
"tags": [
"card-activity-detail"
],
"summary": "findCardActivityDetailByPaymentToolIdAndStatusAndSeq",
"operationId": "findCardActivityDetailByPaymentToolIdAndStatusAndSeqUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "approved",
"in": "path",
"description": "approved",
"required": true,
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
},
{
"name": "paymentTool",
"in": "path",
"description": "paymentTool",
"required": true,
"type": "string",
"format": "uuid"
},
{
"name": "seq",
"in": "path",
"description": "seq",
"required": true,
"type": "integer",
"format": "int32"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«CardActivityDetailResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/card-activity-detail/find-payment-tool-id-and-status/{paymentTool}/{status}": {
"get": {
"tags": [
"card-activity-detail"
],
"summary": "findCardActivityDetailByPaymentToolIdAndStatus",
"operationId": "findCardActivityDetailByPaymentToolIdAndStatusUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "paymentTool",
"in": "path",
"description": "paymentTool",
"required": true,
"type": "string",
"format": "uuid"
},
{
"name": "status",
"in": "path",
"description": "status",
"required": true,
"type": "string",
"enum": [
"ACTIVE",
"INACTIVE",
"PENDING",
"DELETED"
]
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«CardActivityDetailResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/card-activity-detail/{id}": {
"get": {
"tags": [
"card-activity-detail"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_14",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«CardActivityDetailResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/card-activity/find-by-criteria": {
"post": {
"tags": [
"card-activity"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_13",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«CardActivityResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/card-activity/{id}": {
"get": {
"tags": [
"card-activity"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_13",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«CardActivityResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"put": {
"tags": [
"card-activity"
],
"summary": "Update an existing instance",
"operationId": "updateUsingPUT_8",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be updated",
"required": false,
"type": "string",
"format": "uuid"
},
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/CardActivityRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«CardActivityResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"delete": {
"tags": [
"card-activity"
],
"summary": "Delete an existing instance",
"operationId": "deleteUsingDELETE_8",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be deleted",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«CardActivityRequestDTO»"
}
},
"204": {
"description": "No Content"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/card-plan": {
"get": {
"tags": [
"Card-Plan"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_15",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«CardPlanResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"post": {
"tags": [
"Card-Plan"
],
"summary": "Create a new instance",
"operationId": "saveNewUsingPOST_9",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/CardPlanRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«CardPlanResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/card-plan/find-by-criteria": {
"post": {
"tags": [
"Card-Plan"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_15",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«CardPlanResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/card-plan/{id}": {
"get": {
"tags": [
"Card-Plan"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_15",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«CardPlanResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"put": {
"tags": [
"Card-Plan"
],
"summary": "Update an existing instance",
"operationId": "updateUsingPUT_9",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be updated",
"required": false,
"type": "string",
"format": "uuid"
},
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/CardPlanRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«CardPlanResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"delete": {
"tags": [
"Card-Plan"
],
"summary": "Delete an existing instance",
"operationId": "deleteUsingDELETE_9",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be deleted",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«CardPlanRequestDTO»"
}
},
"204": {
"description": "No Content"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/end-of-day": {
"post": {
"tags": [
"End Of Day"
],
"summary": "endOfDay",
"operationId": "endOfDayUsingPOST",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "endOfDayRequestDTO",
"description": "endOfDayRequestDTO",
"required": true,
"schema": {
"$ref": "#/definitions/EndOfDayRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«string»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-account-bucket": {
"get": {
"tags": [
"fi-account-bucket-controller"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_16",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«FiAccountBucketDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-account-bucket/account/{accountId}/fi-bucket/{fiBucketId}": {
"get": {
"tags": [
"fi-account-bucket-controller"
],
"summary": "getByAccountIdAndFiBucketId",
"operationId": "getByAccountIdAndFiBucketIdUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "accountId",
"in": "path",
"description": "accountId",
"required": true,
"type": "string",
"format": "uuid"
},
{
"name": "fiBucketId",
"in": "path",
"description": "fiBucketId",
"required": true,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiAccountBucketDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-account-bucket/account/{account}/group/{group}/sign/{sign}": {
"get": {
"tags": [
"fi-account-bucket-controller"
],
"summary": "findByAccountIdAndFiBucketsBucketGroupAndFiBucketsBucketSign",
"operationId": "findByAccountIdAndFiBucketsBucketGroupAndFiBucketsBucketSignUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "account",
"in": "path",
"description": "account",
"required": true,
"type": "string",
"format": "uuid"
},
{
"name": "group",
"in": "path",
"description": "group",
"required": true,
"type": "string",
"enum": [
"RETAIL",
"CASH",
"CREDIT",
"INTEREST",
"FEE"
]
},
{
"name": "sign",
"in": "path",
"description": "sign",
"required": true,
"type": "string",
"enum": [
"D",
"C"
]
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiAccountBucketDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-account-bucket/find-by-criteria": {
"post": {
"tags": [
"fi-account-bucket-controller"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_16",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«FiAccountBucketDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-account-bucket/{id}": {
"get": {
"tags": [
"fi-account-bucket-controller"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_16",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiAccountBucketDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"put": {
"tags": [
"fi-account-bucket-controller"
],
"summary": "update",
"operationId": "updateUsingPUT_10",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "fiAccountBucketDTO",
"description": "fiAccountBucketDTO",
"required": true,
"schema": {
"$ref": "#/definitions/FiAccountBucketDTO"
}
},
{
"name": "id",
"in": "path",
"description": "id",
"required": true,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiAccountBucketDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-account-sub-type": {
"get": {
"tags": [
"FI-Account-Sub-Type"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_17",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«FiAccountSubTypeResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"post": {
"tags": [
"FI-Account-Sub-Type"
],
"summary": "Create a new instance",
"operationId": "saveNewUsingPOST_10",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/FiAccountSubTypeRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiAccountSubTypeResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-account-sub-type/find-by-criteria": {
"post": {
"tags": [
"FI-Account-Sub-Type"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_17",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«FiAccountSubTypeResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-account-sub-type/{id}": {
"get": {
"tags": [
"FI-Account-Sub-Type"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_17",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiAccountSubTypeResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"put": {
"tags": [
"FI-Account-Sub-Type"
],
"summary": "Update an existing instance",
"operationId": "updateUsingPUT_11",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be updated",
"required": false,
"type": "string",
"format": "uuid"
},
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/FiAccountSubTypeRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiAccountSubTypeResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"delete": {
"tags": [
"FI-Account-Sub-Type"
],
"summary": "Delete an existing instance",
"operationId": "deleteUsingDELETE_10",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be deleted",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiAccountSubTypeRequestDTO»"
}
},
"204": {
"description": "No Content"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-bucket": {
"get": {
"tags": [
"Fi Bucket"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_18",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«FiBucketResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"post": {
"tags": [
"Fi Bucket"
],
"summary": "saveNew",
"operationId": "saveNewUsingPOST_11",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "req",
"required": true,
"schema": {
"$ref": "#/definitions/FiBucketRequestListDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«string»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-bucket-level": {
"get": {
"tags": [
"fi-bucket-level"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_19",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«FiBucketLevelResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"post": {
"tags": [
"fi-bucket-level"
],
"summary": "Create a new instance",
"operationId": "saveNewUsingPOST_12",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/FiBucketLevelRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiBucketLevelResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-bucket-level/find-by-criteria": {
"post": {
"tags": [
"fi-bucket-level"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_19",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«FiBucketLevelResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-bucket-level/get-by-fi/{id}": {
"get": {
"tags": [
"fi-bucket-level"
],
"summary": "getByFi",
"operationId": "getByFiUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "id",
"required": true,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiBucketLevelResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-bucket-level/{id}": {
"get": {
"tags": [
"fi-bucket-level"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_19",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiBucketLevelResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"put": {
"tags": [
"fi-bucket-level"
],
"summary": "Update an existing instance",
"operationId": "updateUsingPUT_12",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be updated",
"required": false,
"type": "string",
"format": "uuid"
},
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/FiBucketLevelRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiBucketLevelResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"delete": {
"tags": [
"fi-bucket-level"
],
"summary": "Delete an existing instance",
"operationId": "deleteUsingDELETE_11",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be deleted",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiBucketLevelRequestDTO»"
}
},
"204": {
"description": "No Content"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-bucket/fi/{id}": {
"get": {
"tags": [
"Fi Bucket"
],
"summary": "findByFi",
"operationId": "findByFiUsingGET",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "id",
"required": true,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«FiBucketResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-bucket/find-by-criteria": {
"post": {
"tags": [
"Fi Bucket"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_18",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«FiBucketResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-bucket/{id}": {
"get": {
"tags": [
"Fi Bucket"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_18",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiBucketResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-card-activity": {
"get": {
"tags": [
"fi-card-activity"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_20",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«FiCardActivitiesResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"post": {
"tags": [
"fi-card-activity"
],
"summary": "Create a new instance",
"operationId": "saveNewUsingPOST_13",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/FiCardActivitiesRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiCardActivitiesResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-card-activity/find-by-criteria": {
"post": {
"tags": [
"fi-card-activity"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_20",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«FiCardActivitiesResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-card-activity/{id}": {
"get": {
"tags": [
"fi-card-activity"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_20",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiCardActivitiesResponseDTO»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"put": {
"tags": [
"fi-card-activity"
],
"summary": "Update an existing instance",
"operationId": "updateUsingPUT_13",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be updated",
"required": false,
"type": "string",
"format": "uuid"
},
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/FiCardActivitiesRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiCardActivitiesResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"delete": {
"tags": [
"fi-card-activity"
],
"summary": "Delete an existing instance",
"operationId": "deleteUsingDELETE_12",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of instance that should be deleted",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiCardActivitiesRequestDTO»"
}
},
"204": {
"description": "No Content"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-cron": {
"get": {
"tags": [
"Fi Cron"
],
"summary": "Find all instances",
"operationId": "findAllUsingGET_21",
"produces": [
"*/*"
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«List«FiCronResponseDTO»»"
}
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
},
"post": {
"tags": [
"Fi Cron"
],
"summary": "Create a new instance",
"operationId": "saveNewUsingPOST_14",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "req",
"description": "Instance data",
"required": false,
"schema": {
"$ref": "#/definitions/FiCronRequestDTO"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«FiCronResponseDTO»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-cron/find-by-criteria": {
"post": {
"tags": [
"Fi Cron"
],
"summary": "Find all instances by specific criteria",
"operationId": "findByCriteriaUsingPOST_21",
"consumes": [
"application/json"
],
"produces": [
"*/*"
],
"parameters": [
{
"in": "body",
"name": "criteria",
"description": "Criteria",
"required": false,
"schema": {
"$ref": "#/definitions/PageSizeSortCriteria"
}
}
],
"responses": {
"200": {
"description": "OK",
"schema": {
"$ref": "#/definitions/RestCommonResponseDTO«Page«FiCronResponseDTO»»"
}
},
"201": {
"description": "Created"
},
"401": {
"description": "Unauthorized"
},
"403": {
"description": "Forbidden"
},
"404": {
"description": "Not Found"
}
},
"security": [
{
"JWT": [
"global"
]
}
],
"deprecated": false
}
},
"/fi-cron/{id}": {
"get": {
"tags": [
"Fi Cron"
],
"summary": "Find instance by id",
"operationId": "findByIdUsingGET_21",
"produces": [
"*/*"
],
"parameters": [
{
"name": "id",
"in": "path",
"description": "Id of the instance that will be retrieved",
"required": false,
"type": "string",
"format": "uuid"
}
],
"responses": {
[...]
